RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

ErrorDocument 404 /404

Redirect 301 /blog/karwendel-huttentocht http://www.aljanscholtens.nl/karwendel-huttentocht
