{% extends 'layout/layout.article.html' %}

{% set page_title = 'Afleiding maakt dom' %}
{% set page_subtitle = '' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '' %} <!-- Not required -->
{% set page_thumbnail = '' %} <!-- Not required -->
{% set navigation_selected = 'blog' %}

{% set header = false %} <!-- true is a large header, false is no header -->
{% set header_studio = false %} <!-- Not required -->
{% set header_title_gradient = false %} <!-- Not required -->

{% set blog_date = '15 February 2013' %}
{% set blog_related = '' %} <!-- Not required -->
{% set blog_related_url = '' %} <!-- Not required -->
{% set blog_author = 'aljan' %} <!-- Not required -->

{% block content %}

  <!-- Gallery -->
  {% set gallery = [
    [
      {img: '/media/afleiding-maakt-dom.jpg', caption: '', cols: 100}
    ]
  ] %}
  {% include 'components/components.gallery.html' %}
  <!-- End Gallery -->

  <p>Het was eens een doodgewone zaterdag en ik wil verder lezen in de <a href="http://en.wikipedia.org/wiki/Steve_Jobs_(book)">biografie van Steve Jobs</a>. Tijdens het lezen kom ik erachter dat ik nog concertkaartjes van <a href="http://www.katzenjammer.no/">Katzenjammer</a> voor die avond moet uitprinten. Alleen de inkt is op. Tijdens het vervangen van de inkt knoei ik het op mijn broek. Ik maak het rap schoon en print de kaarten uit.</p>

  <p>Ik kruip terug op de bank met het boek en begin verder te lezen op pagina 35. Daar lees ik dat Steve inkt op zijn boeken laat kletteren. Ik krijg een grijns op mijn gezicht. Ik pak mijn iPad om het te delen met mijn vrienden. Afgeleid.</p>

  <p>Op sommige dagen kan het erg lastig zijn om in alle rust een boek te lezen. Overal om ons heen vinden we prikkels en willen we in <a href="http://www.ted.com/talks/sherry_turkle_alone_together.html">contact blijven met de buitenwereld</a>.</p>

  <p>Om onze oercreativiteit te bevorderen is het van belang dat we in een soort <a href="http://www.ted.com/talks/mihaly_csikszentmihalyi_on_flow.html">flow</a> komen. Dat kan niet als we continu afgeleid worden.</p>

  <p>Uiteindelijk zit je jezelf in de weg. <strong>Alleen jij kan iets doen aan de afleiding die jij zelf creëert</strong> door open te staan voor teveel prikkels.</p>

  <h2>Waarom zijn we afgeleid?</h2>
  <p>Ik denk dat afleiding tot op zekere hoogte goed is. Als mens zijn we <strong>altijd nieuwsgierig geweest</strong> naar de gebeurtenissen die om ons heen gebeuren. Dat is wat ons <a href="http://joekraus.com/were-creating-a-culture-of-distraction">groot heeft gemaakt</a>. Daarom hebben we vuur en het wiel uitgevonden (cliché ;-). Het probleem is alleen dat als je snel afgeleid bent, je steeds sneller afgeleid raakt. Als een neerwaartse spiraal, omdat we steeds meer willen. Dat is wat er gebeurt met smartphones, tablets etc.</p>

  <p>Deze nieuwsgierigheid is ook de reden waarom we continu in connectie willen blijven met vrienden en je dagelijkse portie nieuws. We willen niet achterblijven, maar juist vooruitgaan. Het probleem is dat het vooruitgaan op een gegeven moment juist in de weg gaat staan.</p>

  <h2>Wat is de oplossing?</h2>
  <p>Soms heb je van die dagen dat je je continu laat afleiden. Daarom is het beter om zoveel mogelijk <strong>prikkels bij voorbaat uit te schakelen</strong>. Denk aan notificaties van Twitter en Facebook. Daarnaast kun je met jezelf afspreken om in de avond en op zondag geen digitale apparaten te gebruiken.</p>

  <p>Begin dit jaar heb ik daar nog een stap bovenop gedaan. Een klein experiment: het blokkeren van Twitter en Facebook voor één maand. Het leuke was dat ik de eerste dagen behoorlijk zenuwachtig was vanwege het feit dat ik zoveel van mijn omgeving miste. Als ik in de trein zat of als ik ergens moest wachten, wist ik niet direct wat ik moest doen. Best wel erg eigenlijk.</p>

  <p>Na een aantal dagen veranderde dat gelukkig. Onderweg keek ik naar buiten of kon ik ongestoord lezen. Op de dagen dat ik normaal veel afgeleid was kon ik niet productief doorwerken. De rust die ik ervoor terug kreeg was heerlijk.</p>

  <p>Dit kleine experiment kan ik iedereen aanraden. Het zet je aan het denken en brengt je rust. Rust werkt tegen stress en zorgt dat je zaken beter kan overzien, zoals bijvoorbeeld je werk.</p>

  <h2>Conclusie</h2>
  <p>Afleiding is een natuurlijk fenomeen waar we weinig aan kunnen doen. Het bevordert onze evolutie en heeft ons gemaakt zoals we nu zijn: vooruitstrevende wezens. De kunst is om nieuwsgierigheid, dus de afleiding, tot een minimum te beperken. Anders slaan we door en gaat het tegen ons werken.</p>

  <p>Teveel afleiding maakt dom. Laten we <strong>slim blijven</strong>.</p>

  <p>Oh ja, het boek over Steve is inmiddels uit ;-).</p>

  <p>&mdash; This post was originally written on the Studio Wolf blog.</p>

{% endblock %}
