{% extends 'layout/layout.article.html' %}

{% set page_title = 'Appelbergen' %}
{% set page_subtitle = '' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '' %} <!-- Not required -->
{% set page_thumbnail = '' %} <!-- Not required -->
{% set navigation_selected = 'blog' %}

{% set header = false %} <!-- true is a large header, false is no header -->
{% set header_studio = false %} <!-- Not required -->
{% set header_title_gradient = false %} <!-- Not required -->

{% set blog_date = '15 November 2014' %}
{% set blog_related = '' %} <!-- Not required -->
{% set blog_related_url = '' %} <!-- Not required -->
{% set blog_author = 'aljan' %} <!-- Not required -->

{% block content %}

    <p>Om mijn Canon 6D te testen op videokwaliteit en mogelijkheden heb ik een kleine video gemaakt in de Appelbergen. Het was vroeg in de ochtend en de zon scheen werkelijk prachtig.</p>

  </div>

  {% set video = 'https://www.youtube.com/embed/PJ-zjBtjTI0' %}
  {% include 'components/components.video.html' %}

  <div class="l-single">

{% endblock %}
