{% extends 'layout/layout.base.html' %}

{% from 'components/components.wrapper.html' import wrapper %}

{% set page_title = 'Title' %}
{% set page_subtitle = 'Subtitel' %} <!-- Not required -->
{% set page_description = 'Description' %} <!-- Not required -->
{% set page_photo = '/assets/media/1.jpg' %}
{% set page_thumbnail = 'http://www.aljanscholtens.nl/raw/media/_MG_1277.jpg' %}
{% set navigation_selected = 'blog' %}

{% set header = true %} <!-- true is a large header, false is no header -->
{% set header_dark = true %}

{% set blog_date = '17 April 2015' %}
{% set blog_related = 'Disconnected' %} <!-- Not required -->
{% set blog_related_url = '#' %} <!-- Not required -->
{% set blog_author = 'aljan' %} <!-- Not required -->

{% block content %}

  {% if header == true %}
    {% include 'components/components.header.html' %}
  {% endif %}




<!-- START Content -->

  {% call wrapper() %}

    <div class="l-single">

      {% if header == false %}
        {% include 'components/components.header.html' %}
      {% endif %}

      <h2 class="c-heading c-heading--30">Dit is een containers</h2>
      <p>Met daaronder best een beetje content</p>

    </div>

    {% set video = 'https://www.youtube.com/embed/PJ-zjBtjTI0' %}
    {% include 'components/components.video.html' %}

  {% endcall %}

  {% call wrapper('dark') %}
    <div class="l-single">

      <h2 class="c-heading c-heading--30">Dit is een container</h2>
      <p>Met daaronder best een beetje content</p>

    </div>

    <!-- Gallery -->
    {% set gallery = [
      [
        {img: '/assets/media/1.jpg', caption: '', cols: 40},
        {img: '/assets/media/1.jpg', caption: 'Dit is een caption van 2', cols: 60},
        {img: '/assets/media/1.jpg', caption: 'Dit is een caption van 1', cols: 100},
        {img: '/assets/media/1.jpg', caption: 'Dit is een caption van 1', cols: 33},
        {img: '/assets/media/1.jpg', caption: 'Dit is een caption van 2', cols: 33},
        {img: '/assets/media/1.jpg', caption: 'Dit is een caption van 3', cols: 33}
      ]
    ] %}
    {% set gallery_footnote = 'All these photos were taken with the Canon 6D and Tamron 150-600mm.' %}
    {% include 'components/components.gallery.html' %}
    <!-- End Gallery -->

    <div class="l-single">

<!-- END Content -->


      

      {% include 'components/components.meta.html' %}

    </div>

  {% endcall %}

  {% call wrapper('gradient') %}

    <div class="l-single">
      {% include 'components/components.comments.html' %}
    </div>

  {% endcall %}

{% endblock %}
