{% extends 'layout/layout.article.html' %}

{% set page_title = 'Blind: Erfenis' %}
{% set page_subtitle = '' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '' %} <!-- Not required -->
{% set page_thumbnail = '' %} <!-- Not required -->
{% set navigation_selected = 'blog' %}

{% set header = false %} <!-- true is a large header, false is no header -->

{% set blog_date = '3 September 2014' %}
{% set blog_related = 'Blind: Samenvatting' %} <!-- Not required -->
{% set blog_related_url = '/blog/blind-samenvatting' %} <!-- Not required -->
{% set blog_author = 'aljan' %} <!-- Not required -->

{% block content %}

  <p>Inmiddels hebben 7 artsen (supervisoren) mijn ogen bekeken, maar niemand weet hoe het kan dat ik blind ben geworden. Speculaties, die zijn er genoeg, maar iets concreets? Nope. Terwijl ik de volgende supervisor te spreken krijg, heb ik weer volop hoop dat hij mij goed nieuws kan melden. Ik wil weer zien, ik wil mijn examens halen, ik wil op de computer ontwerpen, ik wil nog zoveel reizen, ik wil alles. Maar dan vertelt de arts ‘Het kan ook een erfelijke ziekte zijn’ met een korte pauze ‘Maar die moet wel ergens beginnen.’.</p>

{% endblock %}
