{% extends 'layout/layout.article.html' %}

{% set page_title = 'Community en miscommunicaties' %}
{% set page_subtitle = '' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '' %} <!-- Not required -->
{% set page_thumbnail = '' %} <!-- Not required -->
{% set navigation_selected = 'blog' %}

{% set header = false %} <!-- true is a large header, false is no header -->

{% set blog_date = '15 November 2013' %}
{% set blog_related = '' %} <!-- Not required -->
{% set blog_related_url = '' %} <!-- Not required -->
{% set blog_author = 'aljan' %} <!-- Not required -->

{% block content %}

  <!-- Gallery -->
  {% set gallery = [
    [
      {img: '/media/community-en-miscommunicaties.jpg', caption: '', cols: 100}
    ]
  ] %}
  {% include 'components/components.gallery.html' %}
  <!-- End Gallery -->

  <p>Mensen online bij elkaar brengen is altijd een wens van me geweest. Gezien mijn affiniteit met <a href="http://aljanscholtens.nl/photography">fotografie</a> zou het helemaal gaaf zijn om het online samenbrengen van mensen te combineren met fotografie. Een community waarbij mensen discussiëren over allerlei facetten; hoe kan een foto beter worden qua licht en compositie? Welke lens kan ik het beste aanschaffen? Zal ik professioneel worden of niet?</p>

  <p>Persoonlijk ben ik altijd geïntrigeerd geweest door opbouwende kritiek, oftewel feedback. Op een positieve manier vertellen hoe iemand zijn of haar foto kan verbeteren. Zowel iets opbouwends melden als iets goeds. Dat was hetgeen wat ik nergens online kon krijgen. Daaruit is een paar jaar geleden het idee van <a href="http://focussion.com/">Focussion</a> ontstaan.</p>

  <p>Het nadeel van feedback is dat het snel leidt tot <strong>miscommunicatie</strong> wat weer leidt tot negativiteit. Vooral als een community groeit waarbij de gebruiker alles van iedereen kan zien ontstaat er sneller negativiteit. Negatief over de sociale capaciteiten van anderen, negatief over fotografie, negatief over het platform, meestal met het doel om aandacht te krijgen. Zo’n persoon wordt ook wel een ‘trol’ genoemd. De beste oplossing is om andere gebruikers daar niet op te laten reageren, maar helaas gebeurd dat wel.</p>

  <p>Door de jaren heen heb ik mezelf een aantal principes aangeleerd waar je wellicht iets aan kan hebben:</p>

  <ul class="c-list">
    <li><strong>Minder regels</strong>; hoe meer regels er zijn, hoe meer er is om iets negatiefs over te zeggen.</li>
    <li><strong>Duidelijkheid</strong>; om negativiteit te voorkomen is het van belang om diegene er kort en bondig op aan te spreken op een informele manier.</li>
    <li><strong>Word nooit persoonlijk</strong>; dit kan escaleren met het gevolg dat positieve gebruikers je ook als negatief gaan ervaren.</li>
    <li><strong>Eén waarschuwing</strong>; handel het daarna af via e-mail. Wees consequent, behandel alle gebruikers op dezelfde manier.</li>
    <li><strong>Experimenteer</strong>; Iedere community is anders. Overleg met gebruikers en collega’s over problemen en oplossingen.</li>
  </ul>

  <p>Bij een grote en open community negativiteit volledig laten verdwijnen is denk ik onmogelijk, maar om het gemoedelijk en prettig te houden is wel mogelijk. Blijf proberen en heb vooral geduld.</p>

  <p>Ik ben benieuwd of jij ook ervaring hebt met negativiteit en miscommunicatie binnen een community. Laat je tips hier achter.</p>

  <p>&mdash; This post was originally written on the Studio Wolf blog.</p>

{% endblock %}
