{% extends 'layout/layout.base.html' %}

{% from 'components/components.wrapper.html' import wrapper %}

{% set page_title = 'Disconnected' %}
{% set page_subtitle = '' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '/media/disconnected/disconnected.jpg' %} <!-- Not required -->
{% set page_thumbnail = '' %} <!-- Not required -->
{% set navigation_selected = 'blog' %}

{% set header = true %} <!-- true is a large header, false is no header -->


{% set blog_date = '1 January 2015' %}
{% set blog_related = 'The Fellowship of the Hardangervidda' %} <!-- Not required -->
{% set blog_related_url = '/blog/the-fellowship-of-the-hardangervidda' %} <!-- Not required -->
{% set blog_author = 'aljan' %} <!-- Not required -->

{% block content %}

  {% if header == true %}
    {% include 'components/components.header.html' %}
  {% endif %}




<!-- START Content -->

  {% call wrapper() %}

    <div class="l-single">

      {% if header == false %}
        {% include 'components/components.header.html' %}
      {% endif %}

      <p>Rotsen, veel rotsen, ik zit op bijna 3000 meter hoogte en klauter over een grote rots dat lijkt op het hoofd van Steve Ballmer, kaal en onbegonnen. Met mijn wandelstok kan ik nog net voor me in de volgende rots prikken om mij omhoog te trekken. Gelukt, ik sta met twee voeten op meneer Ballmer. Ik kom op adem.</p>

      <p>Voor me klauteren twee vrienden, één met een keurige zwarte rugzak van 11kg en de ander met een half doorgezakte felrode rugzak van 12kg. Ze zijn sneller dan ik, maar dat geeft niet. Het is mijn eigen schuld, ik kijk teveel om me heen, zoals ik nu op Steve ook weer doe. Links zie ik de hoogste top van de omgeving, de Hochgall, iets van 3436 meter hoog. Rechts een gigantische sneeuwvlakte waarbij ik me extreem klein voel.</p>

      <p>Ik loop verder totdat ik bijna bij de andere twee jongens op de klam ben. De één slaakt een kreet uit van jewelste, het is de zon die doorbreekt! Ik begin te lachen en kijk achterom om de zon te aanschouwen, met een regenboog als cadeautje. Wat is de wereld toch prachtig.</p>

      <p>Ik vergeet tijdens zo’n tocht alles. Niets bestaat, alleen ons groepje, een paar rugzakken en een platvink. Geen twitter, facebook, lastige projecten, afspraken en schoonmaken. Alleen het ritme van mijn voetstappen en adem. Ik leef.</p>

<!-- END Content -->




      {% include 'components/components.meta.html' %}

    </div>

  {% endcall %}

  {% call wrapper('gradient') %}

    <div class="l-single">
      {% include 'components/components.comments.html' %}
    </div>

  {% endcall %}

{% endblock %}
