{% extends 'layout/layout.article.html' %}

{% set page_title = 'Highlights Zuid Afrika' %}
{% set page_subtitle = '' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '/media/highlights-zuid-afrika/1.jpg' %} <!-- Not required -->
{% set page_thumbnail = '' %} <!-- Not required -->
{% set navigation_selected = 'blog' %}

{% set header = true %} <!-- true is a large header, false is no header -->

{% set blog_date = '25 January 2016' %}
{% set blog_related = '' %} <!-- Not required -->
{% set blog_related_url = '' %} <!-- Not required -->
{% set blog_author = 'aljan' %} <!-- Not required -->

{% block content %}

    <p>Zuid Afrika, een land van contrasten. In één land vind je woestijn, grootse bossen, armoede en rijkdom. Vanaf 10 november reisde ik samen met mijn vader naar Zuid Afrika. Voor hem de tweede keer na 32 jaar, voor mij de eerste keer. Hierbij mijn highlights van de reis.</p>

    <h2>Kruger Park gamedrive</h2>
    <p>Onze gids stapt in de jeep en we rijden als eerste het Kruger Park in. Het is 5 uur in de ochtend en met een flinke snelheid vertelt hij dat we eerst de grote katten op gaan zoeken. Waterbuffels, zebra’s en neushoorns rijden we voorbij totdat we bij een troep leeuwen komen. Eén voor één lopen de welpen en moeders langs en ze zijn dichtbij, heel dichtbij.</p>

    <p>Waterbuffel, leeuw, neushoorn en olifant. De Big Five is niet compleet, totdat onze gids een seintje krijgt dat er een luipaard gespot is. Met de maximum snelheid leggen we een flinke afstand af door het extreem droge park en rijden we giraffes, olifanten en kudus voorbij. In de verte staat een groep jeeps en wordt het duidelijk dat het luipaard daar moet zijn. Als onze jeep tot stilstand komt kan ik de grote kat erg goed zien. Ik heb mijn camera in de aanslag en op dat moment opent het luipaard zijn bek en kan ik een paar goede platen schieten.</p>

    <p>Het schijnt behoorlijk zeldzaam te zijn om een luipaard te zien in het Kruger Park, maar het voelt wel dubbel dat er zoveel jeeps de rust van het luipaard verstoren. Toch is het Kruger Park een prachtige plek om eens geweest te zijn.</p>

  </div>

  <!-- Gallery -->
  {% set gallery = [
    [
      {img: '/media/highlights-zuid-afrika/2.jpg', caption: '', cols: 100},
      {img: '/media/highlights-zuid-afrika/3.jpg', caption: '', cols: 60},
      {img: '/media/highlights-zuid-afrika/4.jpg', caption: '', cols: 40},
      {img: '/media/highlights-zuid-afrika/5.jpg', caption: '', cols: 40},
      {img: '/media/highlights-zuid-afrika/6.jpg', caption: '', cols: 60}
    ]
  ] %}
  {% set gallery_footnote = '' %}
  {% include 'components/components.gallery.html' %}
  <!-- End Gallery -->

  <div class="l-single">

    <h2>Hluhluwe-Umfolozi Park</h2>
    <p>Het regent en de rangers zijn daar erg blij mee. Het is al te lang droog in het park, waardoor de dieren dieper het park zijn ingetrokken op zoek naar water. En daar kunnen de jeeps niet komen.</p>

    <p>Al een tijdje zien we weinig dieren en het einde van onze rit nadert. Totdat ik in mijn ooghoek een neushoorn op zo’n twintig meter afstand zie staan. Ik vertel de ranger voorzichtig te stoppen. Als we tot stilstand komen komt de grote zwarte neushoorn dichterbij. Binnen een minuut staat hij nog maar vier meter van de jeep vandaan en is het voor mij echt een magisch moment. Zo’n groot en kwetsbaar dier. Na een tiental seconden loopt hij rustig verder via de achterkant van de jeep zo het struikgewas weer in.</p>

    <p>Even later zien we in de verte een dode neushoorn; twee maanden geleden gedood door stropers. In totaal zijn er binnen één avond zes gedood en dit gebeurt regelmatig. Er is te weinig geld en toezicht om dit te voorkomen. Ik vond het vreselijk om te zien, maar het heeft me een beter inzicht gegeven over de parken. Wij als toeristen zijn nodig om geld in te zamelen voor beter beveiligde parken.</p>

    <p>Overigens verwacht de ranger dat onze volgende generatie geen neushoorns meer zal kennen als het zo door gaat. Een erg triest verhaal.</p>

  </div>

  <!-- Gallery -->
  {% set gallery = [
    [
      {img: '/media/highlights-zuid-afrika/7.jpg', caption: '', cols: 50},
      {img: '/media/highlights-zuid-afrika/8.jpg', caption: '', cols: 50}
    ]
  ] %}
  {% set gallery_footnote = '' %}
  {% include 'components/components.gallery.html' %}
  <!-- End Gallery -->

  <div class="l-single">

    <h2>St Lucia</h2>
    <p>In de verte komt een groot gevaarte aanvliegen, steeds dichterbij, totdat het recht boven de boot vliegt. Een Afrikaanse visarend met een prachtig witte kop. We varen over het meer van St. Lucia vlakbij de oost-kust waar veel dieren te vinden zijn. Naast krokodillen komen we ook veel nijlpaarden tegen. Ze liggen in meerdere groepen bij elkaar. Zo nu en dan trekt er eentje zijn bek open tegen een ander om te laten zien wie de baas is, een bijzonder gezicht.</p>

  </div>

  <!-- Gallery -->
  {% set gallery = [
    [
      {img: '/media/highlights-zuid-afrika/9.jpg', caption: '', cols: 40},
      {img: '/media/highlights-zuid-afrika/10.jpg', caption: '', cols: 60}
    ]
  ] %}
  {% set gallery_footnote = '' %}
  {% include 'components/components.gallery.html' %}
  <!-- End Gallery -->

  <div class="l-single">

    <h2>Township Port Elisabeth</h2>
    <p>We rijden het township binnen en direct rennen er meerdere kinderen naar de bus. Terwijl ik uitstap word ik belaagd door kinderen die gefotografeerd willen worden. Als ik om me heen kijk zie ik hutjes van golfplaten in elkaar geknutseld. Met dubbele gevoelens maken we als groep een wandeling door de huizen. Mensen lachen, zijn vriendelijk en staan open voor een praatje.</p>

    <p>De zon gaat bijna onder en we eten in het meest luxe restaurant van het township. Hoewel het meer een karige voetbalkantine lijkt; het eten is echt goed. Ondertussen maak ik nog een dansje met het koor dat meerdere liedjes voor ons zingt.</p>

  </div>

  <!-- Gallery -->
  {% set gallery = [
    [
      {img: '/media/highlights-zuid-afrika/11.jpg', caption: '', cols: 100}
    ]
  ] %}
  {% set gallery_footnote = '' %}
  {% include 'components/components.gallery.html' %}
  <!-- End Gallery -->

  <div class="l-single">

    <h2>Tsitsikamma Forest</h2>
    <p>Regen druipt naar beneden via de oude bomen van het nationale park. Het water maakt het bos magisch, alsof het eeuwenoude verhalen wil vertellen. Het water maakt het groener en de oceaan ruiger.</p>

    <p>Op één van de hangbruggen loopt een baviaan. Ik loop recht op hem af en hij op mij, het duurt even, maar de baviaan springt van de hangbrug zo op de rotsen. Ik had eerder gehoord dat bavianen bang zijn voor mannen, maar niet voor vrouwen. En blijkbaar klopt het; ik had weinig te vrezen.</p>

    <p>Hoog loop ik langs de kust en ga van het pad af om zo via modderige kronkelpaadjes door een dicht stukje bos te lopen. Nadat ik takken aan de kant heb geduwd heb ik een prachtig uitzicht over rotsen die boven de oceaan uittorenen. Het begint harder te regenen terwijl ik mijn statief uit mijn rugzak probeer te halen. Ik loop nog wat rond met mijn camera om goede composities te vinden en zet vervolgens het statief neer op een paar goede plekken om foto’s te maken.</p>

    <p>Toch bleek ik niet voorzichtig genoeg met de regen; op de weg terug was de electronica van mijn camera goed in de war. Ik heb mijn accu en SD kaart uit de camera gehaald en deze vervolgens laten rusten. Gelukkig werkte de camera binnen een paar uur weer normaal.</p>

  </div>

  <!-- Gallery -->
  {% set gallery = [
    [
      {img: '/media/highlights-zuid-afrika/12.jpg', caption: '', cols: 50},
      {img: '/media/highlights-zuid-afrika/13.jpg', caption: '', cols: 50},
      {img: '/media/highlights-zuid-afrika/14.jpg', caption: '', cols: 50},
      {img: '/media/highlights-zuid-afrika/15.jpg', caption: '', cols: 50}
    ]
  ] %}
  {% set gallery_footnote = '' %}
  {% include 'components/components.gallery.html' %}
  <!-- End Gallery -->

  <div class="l-single">

    <h2>Kaap de Goede Hoop</h2>
    <p>Snotterend loop ik over de kustlijn van Kaap de Goede Hoop, een prachtig gebied met een ruige zee. Hoewel ik flink verkouden ben, voel ik toch de behoefte om de kust af te struinen voor een goede foto. Ik besluit mijn ND-filter te gebruiken om de golven en omgeving mystieker te maken. Het nadeel is wel dat het midden op de dag is, waardoor het licht erg hard is. Ik zal het ermee moeten doen.</p>

  </div>

  <!-- Gallery -->
  {% set gallery = [
    [
      {img: '/media/highlights-zuid-afrika/16.jpg', caption: '', cols: 100},
      {img: '/media/highlights-zuid-afrika/17.jpg', caption: '', cols: 50},
      {img: '/media/highlights-zuid-afrika/18.jpg', caption: '', cols: 50}
    ]
  ] %}
  {% set gallery_footnote = '' %}
  {% include 'components/components.gallery.html' %}
  <!-- End Gallery -->

  <div class="l-single">

    <h2>Een reis om niet te vergeten</h2>
    <p>Zuid Afrika is zo’n divers land in cultuur en natuur dat je er niet snel uitgekeken raakt. Bedankt pa, voor dit prachtige avontuur dat we samen hebben mogen beleven!</p>

  </div>

  <!-- Gallery -->
  {% set gallery = [
    [
      {img: '/media/highlights-zuid-afrika/19.jpg', caption: '', cols: 100}
    ]
  ] %}
  {% set gallery_footnote = '' %}
  {% include 'components/components.gallery.html' %}
  <!-- End Gallery -->

  <div class="l-single">

{% endblock %}
