{% extends 'layout/layout.base.html' %}

{% from 'components/components.wrapper.html' import wrapper %}

{% set page_title = 'The Inner Critic in Landscape Photography' %}
{% set page_subtitle = '' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '/media/inner-critic.jpg' %} <!-- Not required -->
{% set page_thumbnail = '' %} <!-- Not required -->
{% set navigation_selected = 'blog' %}

{% set header = true %} <!-- true is a large header, false is no header -->


{% set blog_date = '28 January 2019' %}
{% set blog_related = '' %} <!-- Not required -->
{% set blog_related_url = '' %} <!-- Not required -->
{% set blog_author = 'aljan' %} <!-- Not required -->

{% block content %}

  {% if header == true %}
    {% include 'components/components.header.html' %}
  {% endif %}




<!-- START Content -->

  {% call wrapper() %}

    <div class="l-single">

      {% if header == false %}
        {% include 'components/components.header.html' %}
      {% endif %}

      <p class="c-paragraph c-paragraph--lead">My mind plays with me. It tells me I'm not good enough, I'm not good enough in photography or to start a business. Landscapes are too difficult for me or my compositions are not strong enough.</p>

      <p>This is the inner critic, a part of you that wants you to do the things you've always have done. So new things are not on the agenda of the inner critic. To be honest, I just recently became aware of the inner critic. Before the awareness, I thought it was me, and it held me back.</p>

      <p>It was at its strongest while recording my first Youtube video. It told me I wasn't fit to stand in front of the camera, or my voice is weird.</p>

      {% set video = 'https://www.youtube.com/embed/99wWFRlj-cM' %}
      {% include 'components/components.video.html' %}

      <p class="c-paragraph c-paragraph--soft">A little disclaimer, I'm not an expert in this subject and this article is based on my own experiences.</p>

      <h2>Parent vs child</h2>
      <p>As a child we are told by our parents how to grow up and behave. Also society has the same impact on our early lives. Your parents might have told you certain things which kept you from doing the things you wanted to do, like 'Don't climb in that tree, it will make you dirty', 'Finish your homework, or else you will have a shitty job', 'Choose the correct education, else you won't earn any money' and more like this. These are the things that shapes us as a child and creates partially how your inner critic will behave. It's not that your parents or your environment did something wrong, but it's just how it is. So in fact the inner critic is the child you once were.</p>

      <h2>Landscape photography</h2>
      <p>We all have an inner critic, but recently I had a fight with it. I was starting as a professional landscape photographer and the inner critic was telling me that I shouldn't go for it. I should stay with my current job, earning more money and keep doing what I'm good at. The inner critic does not want you to get out of your comfort zone. But sometimes we have to get out of it, because we're stuck or have the deepest desire to try something else.</p>

      <h2>Third person</h2>
      <p>The most important thing with the inner critic is to be aware of it. If you're aware, you can recognise it. And most of the time the inner critic is telling things in first person, like 'I'm nog good enough', but now you can recognise it and you can make the same sentence in 'You're not good enough'. This can help to separate yourself a bit more from the inner critic.</p>

      <h2>Write it down</h2>
      <p>Before I created this video I wrote down all the things the inner critic told me. This was actually pretty helpful for me, because I can see with my own eyes if those things were the truth or not. It’s the same with writing down a reflection, it helps organising your mind.</p>

      <h2>Wrapping up</h2>
      <p>I think the inner critic can’t be muted entirely, but we can try to make it less dominant in our mind, so we can do what our heart wants us to do. I hope this little article could raise a bit more awareness so you won't be hold down too much in your efforts.</p>

      <!-- <figure class="c-media c-media--video">
        <iframe src="{{video}}" frameborder="0" allowfullscreen></iframe>
      </figure> -->

    </div>


<!-- END Content -->

      {% include 'components/components.meta.html' %}

    </div>

  {% endcall %}

  {% call wrapper('gradient') %}

    <div class="l-single">
      {% include 'components/components.comments.html' %}
    </div>

  {% endcall %}

{% endblock %}
