{% extends 'layout/layout.article.html' %}

{% set page_title = 'Karwendel Huttentocht' %}
{% set page_subtitle = '' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '/media/karwendel-huttentocht/1.jpg' %} <!-- Not required -->
{% set page_thumbnail = '' %} <!-- Not required -->
{% set navigation_selected = 'blog' %}

{% set header = true %} <!-- true is a large header, false is no header -->

{% set blog_date = '4 October 2016' %}
{% set blog_related = 'The Fellowship of the Hardangervidda' %} <!-- Not required -->
{% set blog_related_url = '/blog/the-fellowship-of-the-hardangervidda' %} <!-- Not required -->
{% set blog_author = 'aljan' %} <!-- Not required -->

{% block content %}

    <p>We gooien de autodeuren dicht, strikken de veters van onze bergschoenen, gooien onze rugzak op de rug en vertrekken richting het westen. De huttentocht van 2016 is van start, we wandelen het Karwendelgebergte van Oostenrijk binnen.</p>

    <p>In vijf dagen lopen we vanaf Vomp, vlakbij Innsbruck, in een rondje terug naar het beginpunt. Vier berghutten gaan we langs: de Lamsenjochhütte, de Falkenhütte, Karwendelhaus en Haulerangerhaus. Ondanks gebroken nachten (we sliepen op slaapzalen met veel gesnurk) was de tocht tijdens de eerste drie dagen relatief eenvoudig. De vierde dag bleek er veel ijs op de top te zitten waardoor we een alternatieve route hebben gelopen. De laatste dag was een zware dag waarbij we verwachtten vooral naar beneden te lopen, maar dit was totaal niet het geval.</p>

  </div>

  <!-- Gallery -->
  {% set gallery = [
    [
      {img: '/media/karwendel-huttentocht/2.jpg', caption: '', cols: 50},
      {img: '/media/karwendel-huttentocht/3.jpg', caption: '', cols: 50}
    ]
  ] %}
  {% set gallery_footnote = '' %}
  {% include 'components/components.gallery.html' %}
  <!-- End Gallery -->

  <div class="l-single">

    <p>Een kleine fotografietip voor als je in de bergen, of waar dan ook in de natuur loopt. Kijk af en toe achterom, daar zijn vaak de mooiste plekjes te vinden, omdat het licht totaal anders kan zijn. Dit geldt dan vooral in de ochtend als de zon op komt of in de avond als de zon onder gaat. Onderstaande foto heb ik op deze manier op de vierde dag gemaakt.</p>

  </div>

  <!-- Gallery -->
  {% set gallery = [
    [
      {img: '/media/karwendel-huttentocht/4.jpg', caption: '', cols: 100}
    ]
  ] %}
  {% set gallery_footnote = '' %}
  {% include 'components/components.gallery.html' %}
  <!-- End Gallery -->

  <div class="l-single">

    <p>Tijdens de tocht heb ik onder andere mijn MeFoto statief, Nisi filters, Canon 24mm F2.8 IS en Canon 70-200mm F4 IS meegebracht. Ik wilde kijken of ik in de avond of ochtend bij een hut foto’s kon maken tijdens en na het gouden uur. Vaak viel dit tegen, omdat je niet bij iedere hut een perfecte locatie hebt met de juiste onderwerpen en daarnaast heb ik geen invloed op het weer. Dit had ik van tevoren beter kunnen plannen. Toch twee goede foto’s kunnen maken. De linker foto is geschoten in de vroege ochtend bij de Falkenhütte en de rechter foto heb ik tijdens het avondeten gemaakt (ja, mijn eten werd koud) in het Haulerangerhaus.</p>

  </div>

  <!-- Gallery -->
  {% set gallery = [
    [
      {img: '/media/karwendel-huttentocht/5.jpg', caption: '', cols: 50},
      {img: '/media/karwendel-huttentocht/6.jpg', caption: '', cols: 50}
    ]
  ] %}
  {% set gallery_footnote = '' %}
  {% include 'components/components.gallery.html' %}
  <!-- End Gallery -->

  <div class="l-single">

    <p>Mocht je de tocht zelf willen lopen, kijk dan eens op <a href="http://www.oppad.nl/?bestemming=huttentocht-karwendel">Oppad.nl</a> voor meer info.</p>

    <p>Michiel en ik hebben veel gefilmd tijdens het lopen, <span class="u-line-through">de video komt binnenkort op Youtube te staan. Ik <a href="https://twitter.com/aljanscholtens">twitter</a> de video zodra deze live staat</span> en de video vind je hieronder.</p>

    <p>Bedankt voor de mooie tocht die we samen hebben mogen lopen Michiel, Erwin, Patrick en Sebastian!</p>

  </div>

  {% set video = 'https://www.youtube.com/embed/ClCqE5C6A34' %}
  {% include 'components/components.video.html' %}

  <div class="l-single">

{% endblock %}
