{% extends 'layout/layout.base.html' %}

{% from 'components/components.wrapper.html' import wrapper %}

{% set page_title = 'Kies een vriend' %}
{% set page_subtitle = '' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '' %} <!-- Not required -->
{% set page_thumbnail = '' %} <!-- Not required -->
{% set navigation_selected = 'blog' %}

{% set header = false %} <!-- true is a large header, false is no header -->
{% set header_dark = false %}

{% set blog_date = '12 mei 2015' %}
{% set blog_related = 'Lacey, Nikki en Bas' %} <!-- Not required -->
{% set blog_related_url = '/blog/lacey-nikki-en-bas' %} <!-- Not required -->
{% set blog_author = 'aljan' %} <!-- Not required -->

{% block content %}

  {% if header == true %}
    {% include 'components/components.header.html' %}
  {% endif %}




<!-- START Content -->

  {% call wrapper() %}

    <div class="l-single">

      {% if header == false %}
        {% include 'components/components.header.html' %}
      {% endif %}

    </div>

    <!-- Gallery -->
    {% set gallery = [
      [
        {img: '/assets/media/kies-een-vriend/kies-een-vriend-2.jpg', caption: '', cols: 100}
      ]
    ] %}
    {% set gallery_footnote = '' %}
    {% include 'components/components.gallery.html' %}
    <!-- End Gallery -->

    <div class="l-single">

      <p>Nadat we hadden besloten om voor een hond te gaan zorgen liepen we tegen een aantal vragen aan. Wordt het een hond uit het asiel? Gaan we naar een fokker? Reu of teef? Al snel besloten we na wat gelezen te hebben om voor een teef te gaan bij een fokker. Een teef is wat rustiger en als het je eerste hond is komt dat goed uit. Hoewel je moet oppassen met een teef tijdens de loopsheid, ze zou dan nog eens een partner willen zoeken. Een grote vraag blijft dan nog over, wat voor ras?

      <p>We hebben in boeken gegraven en zijn tot een aantal honden gekomen, de Tatra (Poolse berghond), de Heidewachtel, een Flat Coated Retriever, de Zwitserse Herder of een Beagle. De laatste drie kennen we als honden persoonlijk erg goed, omdat familie en kennissen zo’n hond hebben of hebben gehad. De Tatra en Heidewachtel waren voor ons iets minder bekend, dus maar eens een kennel bezoeken.</p>

      <p>In Elp komen we aan bij de Tatrakennel en horen we direct veel geblaf, het zijn immers honden die hun kudde willen beschermen. Na het aanbellen gaat de deur open en de honden komen naar ons toe. Ze ruiken even en de rest van de tijd zijn ze werkelijk echte knuffelberen. Het zijn vreselijk lieve honden, willen graag aandacht en zijn over het algemeen heel rustig. Groot zijn ze wel en in ons rijtjeshuis wordt dat misschien wat lastig. Na een leuke kennismaking en een goed gevoel keren we terug naar huis.</p>

      <p>Op weg naar de Heidewachtelkennel Westpolderjagers in Ulrum staan we eerst voor het verkeerde huis, waar toevallig een aantal Flat Coated Retrievers rondlopen. Google Maps liet ons in de steek, maar de eigenaar van de boerderij zegt dat we drie huizen verder moeten zijn, zo’n twee kilometer verderop.</p>

      <p>Aangekomen worden we opgewacht en krijgen we koffie in de keuken. Na een uur gepraat te hebben lopen we naar de kennels van de honden. Ze hebben buiten een gigantisch grote ren en zien de hokken binnen er netjes uit. Omdat er meer honden zijn dan bij de Tatrakennel is het eerst wat lawaai, maar al gauw worden ze rustig. Met een goede indruk en hele toffe honden gezien te hebben keren we terug naar huis.</p>

    </div>

      <!-- Gallery -->
      {% set gallery = [
        [
          {img: '/assets/media/kies-een-vriend/kies-een-vriend-1.jpg', caption: '', cols: 100}
        ]
      ] %}
      {% set gallery_footnote = '' %}
      {% include 'components/components.gallery.html' %}
      <!-- End Gallery -->

    <div class="l-single">

      <p>De periode daarop spreken we hondeigenaren aan, gaan langs de Martinidogshow in Groningen, lezen nog meer over de verschillende rassen en laten we het allemaal goed bezinken.</p>

      <p>Uiteindelijk zijn we tot de conclusie gekomen dat we een middel grote hond willen, waarmee je veel kan wandelen en een hond die je kunt uitdagen en andersom, maar ook een lieve hond, die goed is voor andere dieren en kinderen. Nou hebben bijna al deze punten met een goede opvoeding te maken, maar dat komt later. De Heidewachtel voldoet aan al deze punten en nu staan we op de wachtlijst in Ulrum voor een pup. Erg spannend!</p>

<!-- END Content -->




      {% include 'components/components.meta.html' %}

    </div>

  {% endcall %}

  {% call wrapper('gradient') %}

    <div class="l-single">
      {% include 'components/components.comments.html' %}
    </div>

  {% endcall %}

{% endblock %}
