{% extends 'layout/layout.article.html' %}

{% set page_title = 'Lacey, Nikki en Bas' %}
{% set page_subtitle = '' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '' %} <!-- Not required -->
{% set page_thumbnail = '' %} <!-- Not required -->
{% set navigation_selected = 'blog' %}

{% set header = false %} <!-- true is a large header, false is no header -->

{% set blog_date = '17 April 2015' %}
{% set blog_related = 'Kies een vriend' %} <!-- Not required -->
{% set blog_related_url = '/blog/kies-een-vriend' %} <!-- Not required -->
{% set blog_author = 'aljan' %} <!-- Not required -->

{% block content %}

  </div>

  <!-- Gallery -->
  {% set gallery = [
    [
      {img: '/media/lacey-nikki-en-bas.jpg', caption: '', cols: 100}
    ]
  ] %}
  {% set gallery_footnote = '' %}
  {% include 'components/components.gallery.html' %}
  <!-- End Gallery -->

  <div class="l-single">

    <p>Als kleine jongen ging ik ieder jaar samen met mijn zusje en ouders richting het zuiden, Landgraaf. Daar wonen vrienden van ons met hun hond Lacey. Lacey was een Beagle met net iets te korte poten en een te kleine neus.</p>

    <p>Tijdens een lange wandeling met Lacey door het heuvelachtige Limburg vertelde Frans, haar baasje, dat we met Lacey moesten oppassen voor wilde dieren: ‘Als ze een konijn ziet kan het maar zo zijn dat we haar een tijdje kwijt zijn, Lacey is immers een jachthond’. Als Lacey in de natuur was leek ze wel te lachen, dat slaat natuurlijk nergens op, maar je kon aan haar merken dat ze dan op haar best was. Onderzoeken en springen door het hoge gras vond ze prachtig, zo hield ze continu haar baas en het wild in de gaten.</p>

    <p>Bij een vriend van me, Henk, hadden ze een deur die half open kon. In de zomer stond het bovenste gedeelte vaak open. Zodra je in de buurt kwam van de deur dan kon het niet missen of je zag een zwarte kortharige hond op en neer springen. Je zag Nikki denken: ‘wie is daar, wie is daar?’. Bij het openen van de deur besnuffelde ze je en het was goed. Ik kwam er nogal vaak. In de laatste twee jaar van de basisschool liepen we met zijn drieën de avondvierdaagse; Nikki, Henk en ik. De hond vond het mooier dan wij.</p>

    <p>Vrienden van mijn ouders hebben een imposante Groenendahler gehad, genaamd Bas. Bas was erg sterk, maar vooral vriendelijk. Samen deden we vaak spelletjes als touwtrekken, kijken wie de sterkste was. De baas van Bas, Aart, leerde mij dat ik me nooit, maar dan ook nooit kleiner moet maken dan de hond. Daarmee zou ik aangeven dat ik lager in de roedel-rangorde ben en de hond me gaat domineren. Een wijze les.</p>

    <p>Lacey, Nikki en Bas zijn voor mij de basis geweest voor een gezonde relatie met honden, zij hebben ervoor gezorgd dat Marjolein en ik nu samen een hond een mooi leven gaan geven, vol duidelijkheid, avontuur en liefde.</p>

{% endblock %}
