{% extends 'layout/layout.base.html' %}

{% from 'components/components.wrapper.html' import wrapper %}

{% set page_title = 'Light, lighter, lightest, lightestest' %}
{% set page_subtitle = '' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '' %} <!-- Not required -->
{% set page_thumbnail = '' %} <!-- Not required -->
{% set navigation_selected = 'blog' %}

{% set header = false %} <!-- true is a large header, false is no header -->
{% set header_dark = false %}

{% set blog_date = '4 July 2014' %}
{% set blog_related = '' %} <!-- Not required -->
{% set blog_related_url = '' %} <!-- Not required -->
{% set blog_author = 'aljan' %} <!-- Not required -->

{% block content %}

  {% if header == true %}
    {% include 'components/components.header.html' %}
  {% endif %}




<!-- START Content -->

  {% call wrapper() %}

    <div class="l-single">

      {% if header == false %}
        {% include 'components/components.header.html' %}
      {% endif %}

      <!-- Gallery -->
      {% set gallery = [
        [
          {img: '/media/light-lighter-lightest-lightestest.jpg', caption: '', cols: 100}
        ]
      ] %}
      {% include 'components/components.gallery.html' %}
      <!-- End Gallery -->

      <p>Kleurvariabelen in Sass of less kunnen erg lastig zijn om te onderhouden en uit te breiden. In deze note vertel ik de problemen waar wij tegen aan zijn gelopen en hoe we dat opgelost hebben.</p>

      <p>Ik vind het werken met variabelen belangrijk, omdat hiermee de <strong>consistentie binnen een web-applicatie</strong> drastisch wordt verbeterd. Met name wanneer je met twee of meer designers in een team werkt. De één gebruikt bijvoorbeeld <code>lighten($gray-light, 10%)</code> en de ander <code>>lighten($gray-light, 7%)</code>. Op deze manier wordt alles net een beetje anders.</p>

      <h2>Onhandige Sass variabelen</h2>
      <p>In Twitter Bootstrap heb je bijvoorbeeld <a href="http://getbootstrap.com/css/#less-variables">standaard kleurvariabelen</a> als <code>$gray-light</code>, <code>$gray-lighter</code> etc. Maar wat doe je als je een grijswaarde vaak gebruikt die daar precies tussen in zit zonder dat je <code>lighten()</code> of <code>darken()</code> toepast? Dan krijg je iets als <code>$gray-light-less</code> of <code>$gray-light-2</code>. Ik moet hierbij denken aan de middelbare school waarbij ik verslagen maakte met de bestandsnamen ‘verslag-nieuw.doc’, ‘verslag-final.doc’ en verslag-FINALFINAL.doc’. Vreselijk. Dat veranderde later snel naar versienummers, v1, v2, v33 enzovoort.</p>

      <h2>CSS Variabelen met een systeem</h2>
      <p>Waarom werken we met Sass variabelen ook niet met een soort van <strong>versienummer-systeem</strong>? Dan krijgen we het volgende:</p>

<p><pre>
$color-neutral-10: #eee;
$color-neutral-30: #bbb;
$color-neutral-50: #fff;
$color-neutral-70: #444;
$color-neutral-90: #111;
</pre></p>

      <p>Hier gebruiken we trouwens <code>$color-neutral</code> in plaats van <code>$color-gray</code>, omdat de grijze tint binnen een applicatie niet altijd letterlijk grijs hoeft te zijn, maar het kan ook grijs-blauwig zijn.</p>

      <p>Dit systeem is ook breder toepasbaar, met bijvoorbeeld border-radius.</p>

<p><pre>
$border-radius-10: 0.25rem;
$border-radius-20: 0.75rem;
</pre></p>

      <h2>Voordelen</h2>
      <p>Zo’n systeem heeft een aantal voordelen.</p>
      <ul class="c-list">
        <li>Doordat we in stappen van tien werken, kunnen we altijd een extra variabele toevoegen, bijvoorbeeld <code>$color-neutral-35</code>. Je behoudt dus je creativiteit en vrijheid.</li>
        <li>Met kleuren is de <code>$color-neutral-0</code> volledig wit en <code>$color-neutral-100</code> volledig zwart. Zo kun je heel eenvoudig de verschillende tinten daar binnen verdelen.</li>
        <li>Voor alle variabelen binnen dit systeem geldt, je gaat van <strong>niets naar iets</strong>. Van wit naar zwart, en met border-radius en font-size van klein naar groot.</li>
        <li>Misbruik een variabele niet door deze binnen een module in <code>lighten()</code> of <code>darken()</code> te zetten, zo ontstaat er alsnog inconsistentie.</li>
        <li>Dit systeem geef je een standaard set van variabelen en je wordt geforceerd om eerst met deze variabelen te werken zonder dat je direct een andere kleur gaat toevoegen.</li>
      </ul>

      <h2>Wrap-up</h2>
      <p>Binnen Taiga werken we met bovenstaand variabelen-systeem. Het heeft weinig beperkingen, maar zorgt wel voor een sterkere consistentie binnen een web-applicatie. Het is wel even wennen met een systeem die op een andere manier variabelen aanlevert, maar na één project gaat het al stukken beter. Laat graag jouw oplossing of idee achter in de reacties!</p>

      <p>Wil je het gebruiken? Bovenstaand variabelen-systeem zit in de <a href="https://github.com/aljanscholtens/taiga-boilerplate">master versie</a> van Taiga boilerplate.</p>

      <p>&mdash; This post was originally written on the Studio Wolf blog.</p>

<!-- END Content -->




      {% include 'components/components.meta.html' %}

    </div>

  {% endcall %}

  {% call wrapper('gradient') %}

    <div class="l-single">
      {% include 'components/components.comments.html' %}
    </div>

  {% endcall %}

{% endblock %}
