{% extends 'layout/layout.article.html' %}

{% set page_title = 'My 6 hour workday' %}
{% set page_subtitle = '' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '/media/my-6-hour-workday/my-6-hour-workday.jpg' %} <!-- Not required -->
{% set page_thumbnail = '' %} <!-- Not required -->
{% set navigation_selected = 'blog' %}

{% set header = true %} <!-- true is a large header, false is no header -->

{% set blog_date = '18 december 2014' %}
{% set blog_related = 'Blind: Samenvatting' %} <!-- Not required -->
{% set blog_related_url = '/blog/blind-samenvatting' %} <!-- Not required -->
{% set blog_author = 'aljan' %} <!-- Not required -->

{% block content %}

  <p>For about two years now I’ ve been wandering around with the idea of working 6 hour days. 4 weeks ago the time felt right to try this experiment. From the 17th of November until the 12th of December I worked 6 hours a day, no more. Okay, to be honest, one day we had a deadline and launch party of the new Voys website, but all the other days were around 6 hours.</p>

  <h2>Why?</h2>
  <p>I wanted to know if I could do the same amount of work in those 6 hours instead of my normal 9 hours. The reasoning was: if you have less time, you will probably work harder and get the same things done. The idea is that people who do less physical work (psychologists, writers, et cetera) can only effectively work 6 hours a day, the other hours will be needed to rest, reload and get new insights. These insights will increase motivation and stimulate innovation. Rest will give you the energy to work more effectively next day.</p>

  <p>As it turns out, there’s even a petition for the 6 hour day. They state that despite improvements in technology, machinery, and efficiency workdays didn’t got shorter in the last 94 years.</p>

  <h2>Preparation</h2>
  <p>I did not really prepare myself for this experiment. The only thing I felt necessary was to prepare the next day. I did this by making a list with everything I wanted to get done that day. The other thing I did was to make sure I started at exactly 8am and stopped working 6.5 hours later (2.30pm). The half an hour extra is lunch.</p>

  <h2>Pros</h2>
  <ul class="c-list">
    <li>I had more time to rest and drink tea at home. It felt good.
    <li>It made me prioritise better. I felt like I needed to get everything on my list checked at the end of the day and most of the time I did. There were also no problems with collaborating with team member and clients.</li>
  </ul>

  <h2>Cons</h2>
  <ul class="c-list">
    <li>I thought I would be doing loads of other stuff with my extra free time, but actually, I didn’t. I expected to walk in the woods more, go drawing, take photos and do other stuff. I just didn’t do that. What I did was resting a lot by reading books and articles.</li>
    <li>I expected to get the same designs done, but I didn’t have the time to really sit and design. Most of the time I helped team members, communicated with clients, managed things in the office, eventually ended up missing my design-hours.</li>
    <li>Sometimes I acted a bit annoyed when a colleague wanted something from me, because I felt I didn’t have the time for ‘extra’ things. And that’s not good at all.</li>
    <li>And to be honest, it can be nice to slack for 15 minutes, just to have some fun with you colleagues or enjoy what you’ve made. When I worked 6 hours a day, I didn’t allow myself to do that.</li>
  </ul>

  <h2>Conclusion</h2>
  <p>I feel like I almost did the same amount of work in 6 hours. But being both a designer and co-owner my days were crammed with tasks and stuff to finish. Even though I tried to plan everything, you always end up having unexpected tasks during a workday. It’s hard to manage a team, work with clients, design with focus and still begin innovative in 3 hours less than a regular day.</p>

  <p>Besides this mayor downside I really liked the experiment. I’ll probably go back to working 8 hours a day instead of the old 9, and when my physical presence isn’t that much needed at the end of the afternoon, I might go home early to regain some energy.</p>

{% endblock %}
