{% extends 'layout/layout.article.html' %}

{% set page_title = 'Nikki 16 weken' %}
{% set page_subtitle = '' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '/media/nikki-16-weken/1.jpg' %} <!-- Not required -->
{% set page_thumbnail = '' %} <!-- Not required -->
{% set navigation_selected = 'blog' %}

{% set header = true %} <!-- true is a large header, false is no header -->

{% set blog_date = '3 May 2016' %}
{% set blog_related = 'Pups geboren' %} <!-- Not required -->
{% set blog_related_url = '/blog/pups-geboren' %} <!-- Not required -->
{% set blog_author = 'aljan' %} <!-- Not required -->

{% block content %}

    <p>Inmiddels is Nikki 8 weken bij ons. Ondeugend, enthousiast, maar ontzettend lief.</p>

  </div>

  <!-- Gallery -->
  {% set gallery = [
    [
      {img: '/media/nikki-16-weken/2.jpg', caption: '', cols: 33},
      {img: '/media/nikki-16-weken/3.jpg', caption: '', cols: 33},
      {img: '/media/nikki-16-weken/4.jpg', caption: '', cols: 33}
    ]
  ] %}
  {% set gallery_footnote = '' %}
  {% include 'components/components.gallery.html' %}
  <!-- End Gallery -->

  <div class="l-single">

{% endblock %}
