{% extends 'layout/layout.base.html' %}

{% from 'components/components.wrapper.html' import wrapper %}

{% set page_title = 'Nikki de Heidewachtel 1 jaar' %}
{% set page_subtitle = '' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '/media/nikki-de-heidewachtel-1-jaar.jpg' %} <!-- Not required -->
{% set page_thumbnail = '' %} <!-- Not required -->
{% set navigation_selected = 'blog' %}

{% set header = true %} <!-- true is a large header, false is no header -->


{% set blog_date = '4 January 2017' %}
{% set blog_related = '' %} <!-- Not required -->
{% set blog_related_url = '' %} <!-- Not required -->
{% set blog_author = 'aljan' %} <!-- Not required -->

{% block content %}

  {% if header == true %}
    {% include 'components/components.header.html' %}
  {% endif %}




<!-- START Content -->

  {% call wrapper() %}

    <div class="l-single">

      {% if header == false %}
        {% include 'components/components.header.html' %}
      {% endif %}

      <p>Als kleine jongen was ik al gek op honden en ik wilde later als ik groot ben ook ééntje hebben. Inmiddels ben ik 'groot' en is Nikki de Heidewachtel al een jaar oud. Tijd om eens terug te kijken op afgelopen jaar.</p>

      <h2>De eerste weken</h2>
      <p>De eerste paar weken dat Nikki bij ons was vielen enorm tegen. Van tevoren werd ik al gewaarschuwd dat het pittig kon zijn, maar blijkbaar was dat niet genoeg. De bench was onder andere een dingetje. Vanaf dag één probeerden we het comfortabel te maken in de bench, niet forceren, veel lekkers en een mooie plek. Toch ging het niet, telkens als ze de bench in moest ging ze krijsen en brullen. Soms tot wel meer dan een uur. En als het even was gestopt hoorde je het nog, dat geluid kruipt in je hoofd. Toch de hond blijven negeren, want dit is het enige wat werkt wil je de hond laten wennen aan de bench.</p>

      <p>Het andere probleem was dat Nikki buiten de bench niet ging slapen. Dit kwam er dus op neer dat ze altijd druk was en alleen maar wilde spelen. Wat betekent: continu bijten in het tapijt, achter de katten aan rennen en ander kattenkwaad uithalen. Omdat ze haar slaap niet pakte was ze eigenlijk continu enorm moe. Op advies hebben we haar telkens na een half uur spelen twee uur verplicht in de bench gezet zodat ze wel moest gaan slapen. Pas na een paar weken tot ze een keer van de hondenopvang terug kwam met een overbelast pootje is ze gaan slapen buiten de bench. Geluk bij een ongeluk.</p>

      <p>Wat de eerste weken het nog meer zo zwaar maakte was dat ik zoveel boeken en online artikelen had doorgenomen dat ik alles precies wilde doen 'volgens het boekje'. Ik werd gek van het moeten doen van zoveel oefeningen. Ik ging buiten met verschillende ondergronden met haar bewandelen, zodat ze kon wennen aan aluminiumfolie, houten planken, verschillende hoogtes en meer. Een paar keer per dag aandachtsoefeningen, naamoefeningen en andere oefeningen werden gedaan. Ik had op een gegeven moment een hele planning gemaakt, omdat ik het niet meer kon onthouden. Maar tja, het boek zei het. Uiteindelijk werd ik er zo gespannen van dat ik alles aan de kant heb gegooid en de volledige opvoeding op zijn beloop heb gelaten. Dat hielp, het meeste ging daarna vanzelf! Iedere maand  zag je de progressie wat heeft geleid tot de hond die ze nu met een jaar is.</p>

      <h2>Tips die ons hebben geholpen</h2>

      <p>Tijdens haar opvoeding zijn een aantal dingen me bijgebleven waarvan ik denk dat ze Nikki hebben geholpen om een stabiele en keurige hond te worden.</p>

      <ul class="c-list">
        <li>Consequent zijn. Een jager vertelde me hierover voordat Nikki bij ons kwam. Als je iets van de hond vraagt, moet de hond altijd opvolgen. Dus als ze een keer iets niet direct uitvoert mag je het er niet bij laten zitten. Ze moet het uitvoeren. Dit is goud waard, zo leert ze dat ze niet de baas is en alles maar kan maken.</li>
        <li>Tussen de 4 en 12 maanden de hond niet los laten lopen. Zo kan ze geen vervelende situaties creëren door per ongeluk over een grote weg te rennen, of bij je weg te rennen naar andere honden. Ook als je hond op een kind afrent die bang is voor honden is dat niet prettig. Na 12 maanden kan de hond vaker los, mits je goed hebt getraind. Een lange lijn van 10 meter is in die periode een goed alternatief. Veel hondeigenaren zullen het niet met mij eens zijn, maar voor ons is dit prima verlopen.
        <li>Geef je hond liefde, knuffel genoeg en laat vooral van je horen als je hond iets goed doet. Als je hond kattenkwaad uithaalt, ga dan niet na 2 seconden je hond aaien. Dit ziet de hond als een beloning en het gedrag zal extremer worden. Ik zie zo vaak dat een hond iets verkeerds doet en dat de baas dan zegt dat het niet mag, maar de hond dan toch flink gaat knuffelen. Dit werkt tegen je. Gaat je pup keurig in de mand liggen terwijl je daar niet om vraagt, beloon dit dan.</li>
        <li>Neem je hond vooral het eerste jaar overal mee naar toe, laat hem of haar echt overal aan wennen. Zo krijg je minder snel een bange hond. Is je hond wel ergens bang voor, bijvoorbeeld een paaltje (ja, dit gebeurd echt), moedig je hond dan aan om er naar toe te gaan en het uit te zoeken. Straf het blaffen bij angst nooit af.</li>
        <li>Nikki gaat al vanaf 12 weken iedere week een dag naar de hondenopvang. Goed voor de socialisatie en de omgang met andere honden. Ook een hondentraining is van belang, vooral voor de band tussen jou en hond.</li>
      </ul>

      <h2>Nikki met 12 maanden</h2>

      <p>Nikki is net als vele andere honden voor hun baasjes de liefste hond van de wereld. Ze is stabiel, luistert erg goed naar alles wat ik van haar vraag. Ze heeft af en toe nog best wat moeite met luisteren als er kinderen of andere honden langslopen, die zijn gewoon te leuk. Ik kan bij haar eten komen en mag haar bek opentrekken ter controle. Het liefst ligt ze bij ons op de bank op haar eigen kleedje (ook terwijl ik dit schrijf). Overdag slaapt ze graag, maar als je haar vraagt om mee te gaan wandelen zal ze nooit weigeren.</p>

      <p>De start was niet makkelijk, maar Nikki heeft mijn leven inmiddels completer gemaakt.</p>


    </div>



    <div class="l-single">

<!-- END Content -->




      {% include 'components/components.meta.html' %}

    </div>

  {% endcall %}

  {% call wrapper('gradient') %}

    <div class="l-single">
      {% include 'components/components.comments.html' %}
    </div>

  {% endcall %}

{% endblock %}
