{% extends 'layout/layout.article.html' %}

{% set page_title = 'Performance is design' %}
{% set page_subtitle = '' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '' %} <!-- Not required -->
{% set page_thumbnail = '' %} <!-- Not required -->
{% set navigation_selected = 'blog' %}

{% set header = false %} <!-- true is a large header, false is no header -->

{% set blog_date = '3 April 2013' %}
{% set blog_related = '' %} <!-- Not required -->
{% set blog_related_url = '' %} <!-- Not required -->
{% set blog_author = 'aljan' %} <!-- Not required -->

{% block content %}

  <!-- Gallery -->
  {% set gallery = [
    [
      {img: '/media/performance-is-design.jpg', caption: '', cols: 100}
    ]
  ] %}
  {% include 'components/components.gallery.html' %}
  <!-- End Gallery -->

  <p>De Wifi-verbinding in de trein is te traag, dus bezoek je een website met je iets minder trage 3G-verbinding. De website laadt niet snel, maar het lukt, je hebt de pagina kunnen bereiken maar niet van harte.</p>

  <p>Tegenwoordig is de gemiddelde webpagina <strong>1MB</strong> groot, dat is te groot. We zijn er vanuit gegaan dat internetverbindingen steeds sneller zijn geworden. Dat is ook zo, maar we zijn de mobiele verbindingen vergeten. Een pagina van 1MB is te groot en in de meeste gevallen pure luiheid van designers en ontwikkelaars, inclusief mijzelf. Dat is sinds een tijdje flink veranderd en ik ben mij bewust geworden van het belang van goede performance.</p>

  <p>Laten we het voorbeeld van de zware website er weer bij halen. Deze is in dit geval rond de 1.3MB per pagina. Stel dat deze 250KB klein zou zijn, 5 keer zo klein, 5 keer zo snel. Hip, dat willen we! Sneller een artikel lezen, sneller tickets bestellen en sneller treintijden bekijken zonder 10 seconden te hoeven wachten.</p>

  <p>Design is ervoor zorgen dat de gebruiker zo simpel mogelijk zijn of haar doel kan bereiken. <strong>Een slechte performance betekent dus een slechter design</strong>.</p>

  <h2>Praktische verbeteringen</h2>
  <ul class="c-list">
    <li>Ontwikkel eerder in de browser, want in Photoshop kun je de performance niet meten.</li>
    <li>Let op het aantal afbeeldingen en hun grootte. Gebruik sprites of fonts voor iconen en vergeet <a href="http://blog.cloudfour.com/8-guidelines-and-1-rule-for-responsive-images/">responsive images</a> niet.</li>
    <li>Pas op met box-shadow, meer dan 3 pixels zorgt voor het <a href="http://nerds.airbnb.com/box-shadows-are-expensive-to-paint">trager renderen</a> van je website.</li>
    <li>Compress en bundel al je Javascript en CSS files.</li>
  </ul>

  <h2>Verder lezen</h2>
  <ul class="c-list">
    <li>Tutsplus: <a href="http://webdesign.tutsplus.com/tutorials/workflow-tutorials/best-practices-for-increasing-web-site-performance/">Best practices for increasing website performance</a></li>
    <li>Brad Frost: <a href="http://bradfrostweb.com/blog/post/performance-as-design/">Performance as design</a></li>
    <li>CSS Wizardry: <a href="http://csswizardry.com/2013/01/front-end-performance-for-web-designers-and-front-end-developers/">Front-end performance for web designers and frond-end developers</a></li>
    <li>Clearleft: <a href="http://clearleft.com/thinks/responsivedesignonabudget/">Responsive design on a budget</a></li>
    <li>Smashing Magazine: <a href="http://mobile.smashingmagazine.com/2013/04/03/build-fast-loading-mobile-website/">How to make your websites faster on mobile devices</a></li>
  </ul>

  <p>&mdash; This post was originally written on the Studio Wolf blog.</p>

{% endblock %}
