{% extends 'layout/layout.base.html' %}

{% from 'components/components.wrapper.html' import wrapper %}

{% set page_title = 'Retina data conflict' %}
{% set page_subtitle = '' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '' %} <!-- Not required -->
{% set page_thumbnail = '' %} <!-- Not required -->
{% set navigation_selected = 'blog' %}

{% set header = false %} <!-- true is a large header, false is no header -->
{% set header_dark = false %}

{% set blog_date = '22 June 2012' %}
{% set blog_related = '' %} <!-- Not required -->
{% set blog_related_url = '' %} <!-- Not required -->
{% set blog_author = 'aljan' %} <!-- Not required -->

{% block content %}

  {% if header == true %}
    {% include 'components/components.header.html' %}
  {% endif %}




<!-- START Content -->

  {% call wrapper() %}

    <div class="l-single">

      {% if header == false %}
        {% include 'components/components.header.html' %}
      {% endif %}

      <!-- Gallery -->
      {% set gallery = [
        [
          {img: '/media/retina-data-conflict.jpg', caption: '', cols: 100}
        ]
      ] %}
      {% include 'components/components.gallery.html' %}
      <!-- End Gallery -->

      <p>Het Retina-scherm;  een scherm met vier keer zoveel pixels op hetzelfde oppervlak, voor iPad, en sinds vorige week de MacBook Pro. Tekst en foto’s zijn op deze schermen werkelijk prachtig, alleen is nog lang niet iedereen hier klaar voor. Interface designers dienen met een aantal aspecten rekening te houden.</p>

      <h2>Mobiel internet</h2>
      <p>Vier keer zoveel pixels maken de afbeeldingen in een webapplicatie qua dimensies twee keer zo groot. Een afbeelding die twee keer zo groot is hakt er flink in qua bestandsgrootte. Waar een foto gemiddeld 100 kilobyte is, wordt de bestandsgrootte voor Retina drie a vier keer zo groot. Een flinke impact voor je mobiele dataverkeer, vooral hier in Nederland met de gelimiteerde mobiele data abonnementen.</p>

      <p>Dat heeft gevolgen voor de snelheid en dus de gebruikerservaring.</p>

      <h2>Straf van Google</h2>
      <p>Google houdt ook van snelle websites. De vraag is: in hoeverre gaat Google websites straffen op het optimaliseren voor het Retina-scherm?</p>

      <h2>Wat nu?</h2>
      <p><a href="https://www.smashingmagazine.com/2012/06/responsive-images-with-wordress-featured-images/">Gebruik maken van responsive images</a> is een goede oplossing om voor apparaten met een lagere resolutie kleinere afbeeldingen in te laden. Voor Retina-schermen gaat dit natuurlijk niet op, omdat het met een andere pixeldichtheid werkt.</p>

      <p>Oplossingen om Retina-schermen aan te spreken kan gemakkelijk met <a href="http://seesparkbox.com/foundry/targeting_iphone_4s_retina_display_with_media_queries">media queries</a> in CSS, maar gebruikers met deze schermen zullen nog steeds belast worden met een hoger dataverbruik.</p>

      <p>Als mogelijke andere oplossing voor het dataprobleem zou je kunnen bepalen wat voor dataverbinding er beschikbaar is. Zo zou je kwalitatief mindere afbeeldingen door kunnen geven als het netwerk slecht is. Helaas is daar nog geen goede oplossing voor.</p>

      <h2>Conclusie</h2>
      <p>Mobiele en reguliere dataproviders zullen abonnementen aan moeten passen zodat deze voldoen aan verfijnde schermen, want ook mijn Cinema Display is straks Retina. Verder zal Google de meest minimalistische versie van een website beoordelen, dit betekent dat als je correct te werk gaat je geen straf zult krijgen van Google.</p>

      <p>Uiteindelijk gaan alle apparaten meer pixels krijgen. Dat gaat de komende jaren gebeuren. Apple heeft de kick-off gegeven, nu moet de rest nog volgen naar een fijner leesbaar internet.</p>

      <p>&mdash; This post was originally written on the Studio Wolf blog.</p>

<!-- END Content -->




      {% include 'components/components.meta.html' %}

    </div>

  {% endcall %}

  {% call wrapper('gradient') %}

    <div class="l-single">
      {% include 'components/components.comments.html' %}
    </div>

  {% endcall %}

{% endblock %}
