{% extends 'layout/layout.article.html' %}

{% set page_title = 'Sass Placeholders' %}
{% set page_subtitle = '' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '' %} <!-- Not required -->
{% set page_thumbnail = '' %} <!-- Not required -->
{% set navigation_selected = 'blog' %}

{% set header = false %} <!-- true is a large header, false is no header -->

{% set blog_date = '23 October 2012' %}
{% set blog_related = '' %} <!-- Not required -->
{% set blog_related_url = '' %} <!-- Not required -->
{% set blog_author = 'aljan' %} <!-- Not required -->

{% block content %}

  <!-- Gallery -->
  {% set gallery = [
    [
      {img: '/media/sass-placeholders.jpg', caption: '', cols: 100}
    ]
  ] %}
  {% include 'components/components.gallery.html' %}
  <!-- End Gallery -->

  <p>Een veel voorkomend probleem met HTML zijn het aantal classes die we gebruiken zoals bijvoorbeeld <code>&lt;div class="product product-hat"&gt;</code>. Ook het dupliceren van CSS gebeurd te vaak om het gewenste resultaat te krijgen. Er is een oplossing.</p>

  <p>Tijdens de <a href="http://smashingconf.com/">Smashing Conference</a> in Freiburg vertelde Nicole Sullivan (<a href="https://twitter.com/stubbornella">@Stubornella</a>) over de <a href="http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#placeholder_selectors_">SASS placeholder</a> (werkt vanaf SASS 3.2). De placeholder is een type selector die niet in de CSS output komt na compilen.</p>

  <p>Waarbij we normaal <code>.selector</code> of <code>#selector</code> gebruiken, pakken we nu de <code>%selector</code>. Aan onderstaand <code>%product</code> heb je niets, het komt namelijk niet in de CSS output.</p>

<p><pre>
%product {
  background: grey;
  border: 1px solid;
  padding: 1em;
}
</pre></p>

  <p>Maar we kunnen er wel degelijk iets mee. Het voordeel zit hem in de combinatie met <a href="http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#extend">@extend</a>.</p>

  <p>In CSS gebruiken we bijvoorbeeld div.product. Stel we verkopen schoenen en hoedjes via een webshop. In het productoverzicht hebben alle producten een aantal dezelfde eigenschappen zoals background, border en padding. Alleen verschillen de schoenen en hoedjes van border kleur middels de volgende SCSS:</p>

<p><pre>
%product {
  background: grey;
  border: 1px solid;
  padding: 1em;
}

div.product-shoe {
  @extend %product;
  border-color: red;
}

div.product-hat {
  @extend %product;
  border-color: blue;
}
</pre></p>

  <p><small>Tip: De @extend wordt altijd als laatste binnen de selector ingeladen, overschrijven kan dus lastig zijn.</small></p>

  <p><code>%product</code> komt op deze manier niet in de output, maar de schoen en de hoed kunnen wel gebruik maken van de eigenschappen van <code>%product</code>. Dus hiermee krijg je de output:</p>

<p><pre>
div.product-shoe, div.product-hat {
  background: grey;
  border: 1px solid;
  padding: 1em;
}

div.product-shoe {
  border-color: red;
}

div.product-hat {
  border-color: blue;
}
</pre></p>

  <p>Hiermee wordt de HTML simpeler en <strong>semantischer</strong>, je krijgt geen <code>&lt;div class="product product-hat"&gt;</code>, maar alleen <code>&lt;div class="product-hat"&gt;</code>.</p>

  <p>Daarnaast hoef je in de SCSS geen code te dupliceren voor zowel <code>.product-shoe</code> als <code>.product-hat</code>. <strong>Minder code</strong>.</p>

  <p>Als interface designer een goed te onderhouden framework en voor de bezoeker betere performance.</p>

  <p>&mdash; This post was originally written on the Studio Wolf blog.</p>

{% endblock %}
