{% extends 'layout/layout.base.html' %}

{% from 'components/components.wrapper.html' import wrapper %}

{% set page_title = 'The Fellowship of the Hardangervidda' %}
{% set page_subtitle = 'Zes vrienden op trektocht door Noorwegen' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '/media/the-fellowship-of-the-hardangervidda/1.jpg' %} <!-- Not required -->
{% set page_thumbnail = '' %} <!-- Not required -->
{% set navigation_selected = 'blog' %}

{% set header = true %} <!-- true is a large header, false is no header -->


{% set blog_date = '10 september 2015' %}
{% set blog_related = 'Karwendel Huttentocht' %} <!-- Not required -->
{% set blog_related_url = '/blog/karwendel-huttentocht' %} <!-- Not required -->
{% set blog_author = 'aljan' %} <!-- Not required -->

{% block content %}

  {% if header == true %}
    {% include 'components/components.header.html' %}
  {% endif %}




<!-- START Content -->

  {% call wrapper() %}

    <div class="l-single">

      {% if header == false %}
        {% include 'components/components.header.html' %}
      {% endif %}

      <p>De wind duwt me zo hard opzij dat ik met mijn stokken weerstand moet bieden. Het voelt als windkracht negen en dan helpt een rugzak van veertien kilo niet om makkelijk overeind te blijven. Ondertussen gaat het regenen en dat blijft een paar uur doorgaan. De plassen beginnen groter te worden met teveel keien en helaas lopen mijn bergschoenen vol met water. We lopen met zijn zessen door de Hardangervidda in Noorwegen en het is prachtig!</p>

      <h2>Vanuit Finse (Dag 1)</h2>
      <p>We lopen inmiddels al een paar uur door de regen over lange sneeuwvelden na een uur verkeerd gelopen te hebben. Verderop achter de top moet toch echt het dal te zien zijn, want we willen dolgraag de tent opzetten. Maar telkens worden we teleurgesteld en zien we weer nieuwe sneeuwvelden. Iedereen begint koud te worden, de wind waait hard en de sneeuw onder de voeten maakt het lopen zwaar. Toch gaan we door, veel keuze hebben we niet. Ieder half uur maken we een korte pauze om snel wat te eten en op adem te komen om vervolgens weer door te gaan.</p>

      <p>Een aantal van de groep begint onderkoelt te raken en we hebben geen andere keuze dan het kamp op te zetten. We vinden gelukkig een vlak stuk grond aan een ijsmeertje. Patrick duikt direct zijn tent in en zien we de hele avond niet weer, Michiel loopt te klappertanden en ik loop nog bezorgd rond om eten te regelen. Na een frisse, natte, maar prima nacht is het droog in de ochtend en kunnen we doorlopen.</p>

    </div>

    <!-- Gallery -->
    {% set gallery = [
      [
        {img: '/media/the-fellowship-of-the-hardangervidda/2.jpg', caption: 'Sebastian en Erik nog fit', cols: 33},
        {img: '/media/the-fellowship-of-the-hardangervidda/3.jpg', caption: '', cols: 33},
        {img: '/media/the-fellowship-of-the-hardangervidda/4.jpg', caption: 'Vele sneeuwvelden steken we over', cols: 33},

        {img: '/media/the-fellowship-of-the-hardangervidda/5.jpg', caption: '', cols: 40},
        {img: '/media/the-fellowship-of-the-hardangervidda/6.jpg', caption: 'De volgende ochtend brak de zon door', cols: 60}
      ]
    ] %}
    {% set gallery_footnote = '' %}
    {% include 'components/components.gallery.html' %}
    <!-- End Gallery -->

    <div class="l-single">

      <h2>De omweg (Dag 2)</h2>
      <p>Nadat we de laatste sneeuwvelden achter ons laten lopen we over grote stenen platen richting de onbemande hut aan een klein stuwmeertje. Onderweg komen we een paar hikers tegen die aangeven dat de normale route niet toegankelijk is. Anderen schenen dit wel geprobeerd te hebben en kwamen tot hun borst in het water. Dus omlopen zonder pad.</p>

      <p>Stenen worden in de lucht gesmeten door Erik en komen terecht in de rivier vlak naast Sebastian. Er komt wat gevloek uit zijn mond, maar hij blijft doorwerken. Verderop is een sneeuwbrug ingestort en zit er niets anders op dan stenen in de rivier te gooien zodat we er over heen kunnen stappen. Een tijdje later lopen we over een grote stuwdam vlakbij waar het Fjord ophoudt om vervolgens via een extreem nat en glad pad de berg weer op te gaan.</p>

      <p>De avond is rustig, we kunnen buiten eten en genieten die avond nog van een paar slokken whiskey. De tenten staan behoorlijk schuin, waardoor niet iedereen even goed slaapt.</p>

    </div>

    <!-- Gallery -->
    {% set gallery = [
      [
        {img: '/media/the-fellowship-of-the-hardangervidda/7.jpg', caption: 'Soms een brug en soms niet', cols: 40},
        {img: '/media/the-fellowship-of-the-hardangervidda/8.jpg', caption: 'Michiel, Sebastian, Patrick, Erik en Donnie', cols: 60},
        {img: '/media/the-fellowship-of-the-hardangervidda/9.jpg', caption: 'Via een moeras bewandelen we de omweg', cols: 60},
        {img: '/media/the-fellowship-of-the-hardangervidda/10.jpg', caption: 'Kamp opgezet op een schuine plaat', cols: 40}
      ]
    ] %}
    {% set gallery_footnote = '' %}
    {% include 'components/components.gallery.html' %}
    <!-- End Gallery -->

    <div class="l-single">

      <h2>Zonnige taferelen (Dag 3)</h2>
      <p>We zijn bijna weer op het correcte pad en de zon begint goed te schijnen. Na een rustige stijging en wat intensievere daling komen we uit bij een groot meer waar een groep van zes Duitsers de tenten aan het afbouwen zijn. We vullen ons water bij en stijgen dan steeds meer on vervolgens door een aantal sneeuwvelden te lopen. Netjes houden we ieder uur een kwartier pauze om te eten en te drinken om zo niet tegen lichamelijke problemen aan te lopen.</p>

      <p>Wanneer we boven de top uitsteken kijken we uit over een prachtige groene vallei dat een beetje lijkt op de Schotse Highlands. We zetten onze tenten op in het muggen-paradijs. Waar je ook kijkt, er zijn overal muggen die maar al te graag bloed willen hebben. Toch wagen Patrick, Sebastian en Erik zich in de rivier om eens goed op te frissen. Inmiddels wordt Patrick de ‘Ice Bear’ genoemd, omdat hij maar weinig last had van de extreme kou.</p>

      <p>Na een professioneel kampvuurtje van Sebastian hebben we goed kunnen genieten van een fijne en zonnige avond in een meer rustig gedeelte van de Hardangervidda.</p>

    </div>

    <!-- Gallery -->
    {% set gallery = [
      [
        {img: '/media/the-fellowship-of-the-hardangervidda/11.jpg', caption: 'Michiel geniet van de zon', cols: 100},
        {img: '/media/the-fellowship-of-the-hardangervidda/12.jpg', caption: '', cols: 50},
        {img: '/media/the-fellowship-of-the-hardangervidda/13.jpg', caption: '', cols: 50},
        {img: '/media/the-fellowship-of-the-hardangervidda/14.jpg', caption: 'Proberen de vliegen te verjagen met vuur, onsuccesvol', cols: 50},
        {img: '/media/the-fellowship-of-the-hardangervidda/15.jpg', caption: '', cols: 50}
      ]
    ] %}
    {% set gallery_footnote = '' %}
    {% include 'components/components.gallery.html' %}
    <!-- End Gallery -->

    <div class="l-single">

      <h2>Regen en regen (Dag 4)</h2>
      <p>De laatste dag voor Donnie is aangebroken, na een afdaling van een uurtje komen we bij een doorgaande weg en blijft hij achter om de bus te pakken naar het dorp. We lopen daarna met zijn vijven verder via de groene natte bergen terwijl het steeds harder begint te regenen. Vanwege het slechte weer bepalen we halverwege bij een onbemande hut dat we de laatste twee dagen in één dag gaan lopen.</p>

      <p>Na een vreselijk natte middag zetten we hoog in de bergen de tenten pas op rond 19:30, maken snel wat te eten klaar en duiken de slaapzakken in. De schoenen zijn doorweekt en de volgende ochtend gaat de wekker om 6:30 uur.</p>

    </div>

    <!-- Gallery -->
    {% set gallery = [
      [
        {img: '/media/the-fellowship-of-the-hardangervidda/16.jpg', caption: 'Struiken maken je schoenen vaak extra nat', cols: 33},
        {img: '/media/the-fellowship-of-the-hardangervidda/17.jpg', caption: '', cols: 33},
        {img: '/media/the-fellowship-of-the-hardangervidda/18.jpg', caption: 'Laatste overnachting in de kou en wind', cols: 33}
      ]
    ] %}
    {% set gallery_footnote = '' %}
    {% include 'components/components.gallery.html' %}
    <!-- End Gallery -->

    <div class="l-single">

      <h2>Wind en afdalen (Dag 5)</h2>
      <p>De volgende ochtend zijn we loeisnel met inpakken, want het regent en het waait heel hard. Met een flinke looppas lopen we door een rotsachtig en besneeuwd gebied. Hiervan heb ik geen foto’s, omdat het weer te slecht was. We steken brede rivieren over waar bruggen ontbreken. Ook schuilen we achter grote rotsen, om maar niet af te hoeven koelen door de storm. Na een grote bemande hut begint langzaam de afdaling via gigantische watervallen. Aan het einde van de dag zijn we in het dal en zijn mijn voeten rauw en volledig verrimpeld, net als iedereen. Maar we hebben het gered!</p>

    </div>

    <!-- Gallery -->
    {% set gallery = [
      [
        {img: '/media/the-fellowship-of-the-hardangervidda/19.jpg', caption: '', cols: 60},
        {img: '/media/the-fellowship-of-the-hardangervidda/20.jpg', caption: '', cols: 40},
        {img: '/media/the-fellowship-of-the-hardangervidda/21.jpg', caption: 'Gigantische watervallen komen we onderweg tegen', cols: 100},
        {img: '/media/the-fellowship-of-the-hardangervidda/22.jpg', caption: 'Terug in het dal om de laatste zon mee te pakken', cols: 40},
        {img: '/media/the-fellowship-of-the-hardangervidda/23.jpg', caption: '', cols: 60}
      ]
    ] %}
    {% set gallery_footnote = '' %}
    {% include 'components/components.gallery.html' %}
    <!-- End Gallery -->

    <div class="l-single">

      <p>Mijn gear is super goed bevallen. Hoewel mijn tentje wel wat krap was, kon hij erg goed tegen de regen en wind. Gezien ik snel last heb van mijn rug was ik er ook vanuit gegaan dat ik daar nu veel last van zou krijgen, maar dit gebeurde niet. Ook zijn blaren fan van mijn voeten, maar door de pantysokjes is dit ook niet het geval geweest.</p>

      <p>Een bijzondere week, met wind, regen en wat zon. Noorwegen is prachtig, maar ook erg nat. Leven op alleen de inhoud van je rugzak is een prachtige ervaring en zal ik niet snel vergeten. Een vakantie om te herinneren.</p>

      <p>Bedankt Michiel, Donnie, Patrick, Sebastian, Erik en Noorwegen!</p>

      <p><strong>Update:</strong> Michiel heeft een video gemaakt van onze tocht.</p>

    </div>

    {% set video = 'https://www.youtube.com/embed/5yfsw6X9eP0' %}
    {% include 'components/components.video.html' %}

    <div class="l-single">

<!-- END Content -->




      {% include 'components/components.meta.html' %}

    </div>

  {% endcall %}

  {% call wrapper('gradient') %}

    <div class="l-single">
      {% include 'components/components.comments.html' %}
    </div>

  {% endcall %}

{% endblock %}
