{% extends 'layout/layout.article.html' %}

{% set page_title = 'Tweedaagse wandeling Elspeet' %}
{% set page_subtitle = '' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '/media/elspeet/elspeet-14.jpg' %} <!-- Not required -->
{% set page_thumbnail = '' %} <!-- Not required -->
{% set navigation_selected = 'blog' %}

{% set header = true %} <!-- true is a large header, false is no header -->
{% set header_studio = false %} <!-- Not required -->
{% set header_title_gradient = false %} <!-- Not required -->

{% set blog_date = '28 November 2021' %}
{% set blog_related = '' %} <!-- Not required -->
{% set blog_related_url = '' %} <!-- Not required -->
{% set blog_author = 'aljan' %} <!-- Not required -->

{% block content %}

  <p class="c-paragraph c-paragraph--lead">Ongeveer twee keer per jaar lopen Patrick, een vriend van me, en ik een tweedaagse wandeling ergens in Nederland. Dit najaar was het de beurt aan Nunspeet en Elspeet. Ongeveer 20km per dag. Startend in Nunspeet, via Elspeet en zo weer terug naar Nunspeet.</p>

  <p>Het mooie van Nunspeet is dat je zo de trein uitstapt en de Veluwe in loopt. Je waant je al snel in de bossen en prachtige heidevelden. Ook kom je langs mooie kastelen en is het landschap enorm divers.</p>

  <p>De route heb ik van tevoren samengesteld en we hebben de route gelopen in het weekend van 20 november 2021.</p>

  <p><a href="/media/elspeet/speterij-dag-1.gpx">Download GPX bestand van dag 1</a></p>
  <p><a href="/media/elspeet/speterij-dag-2.gpx">Download GPX bestand van dag 2</a></p>

</div>



  <!-- Gallery -->
  {# {% set gallery_gutter = 'large' %} #}
  {% set galleryGrid = [
    [
      {img: '/media/elspeet/elspeet-01.jpg', caption: '', cols: 100},
      {img: '/media/elspeet/elspeet-02.jpg', caption: '', cols: 100},
      {img: '/media/elspeet/elspeet-03.jpg', caption: '', cols: 100},
      {img: '/media/elspeet/elspeet-04.jpg', caption: '', cols: 100},
      {img: '/media/elspeet/elspeet-05.jpg', caption: '', cols: 100},
      {img: '/media/elspeet/elspeet-06.jpg', caption: '', cols: 100},
      {img: '/media/elspeet/elspeet-07.jpg', caption: '', cols: 100},
      {img: '/media/elspeet/elspeet-08.jpg', caption: '', cols: 100},
      {img: '/media/elspeet/elspeet-09.jpg', caption: '', cols: 100},
      {img: '/media/elspeet/elspeet-10.jpg', caption: '', cols: 100},
      {img: '/media/elspeet/elspeet-11.jpg', caption: '', cols: 100},
      {img: '/media/elspeet/elspeet-12.jpg', caption: '', cols: 100},
      {img: '/media/elspeet/elspeet-13.jpg', caption: '', cols: 100},
      {img: '/media/elspeet/elspeet-14.jpg', caption: '', cols: 100},
      {img: '/media/elspeet/elspeet-15.jpg', caption: '', cols: 100},
      {img: '/media/elspeet/elspeet-16.jpg', caption: '', cols: 100},
      {img: '/media/elspeet/elspeet-17.jpg', caption: '', cols: 100},
      {img: '/media/elspeet/elspeet-18.jpg', caption: '', cols: 100},
      {img: '/media/elspeet/elspeet-19.jpg', caption: '', cols: 100}
    ]
  ] %}
  {% set galleryGrid_footnote = '' %}
  {% include 'components/components.gallery-grid.html' %}
  <!-- End Gallery -->

  <div class="l-single">

{% endblock %}
