/*------------------------------------*\
  #BASE-TYPE
\*------------------------------------*/

/*
 * Headings
 */
h1,
h2,
legend,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  font-weight: 600;
  font-size: var(--font-size-50);
  margin: 0;
}

/*
 * Paragraphs has been moved entirely to the paragraph component
 */

/*
 * Links
 */
a {
  color: var(--color-secondary-50);
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    color: var(--color-neutral-90);
  }
}

.u-content a {
  background-color: var(--color-secondary-10);
  padding: 0.2em 0.5rem;
}

.t-dark .u-content a {
  color: var(--color-secondary-30);
  background-color: var(--color-secondary-30a20);

  &:hover {
    color: var(--color-neutral-0);
  }
}

/*
 * Other
 */
small,
.u-content em {
  color: var(--color-neutral-50);
  font-size: var(--font-size-default);
  line-height: 1.5em;
  font-style: normal;
}

.t-dark .u-content em {
  color: var(--color-neutral-0a50);
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

code,
pre {
  font-family: "courier new", monospace;
}

pre {
  margin: var(--space-stack-default);
  color: var(--color-neutral-70);
  background-color: var(--color-neutral-20);
  border-radius: var(--border-radius-20);
  overflow-x: auto;
  font-weight: 600;
  padding: var(--space-default);
}

abbr {
  border-bottom: 1px dotted var(--color-neutral-50);
}

del {
  text-decoration: line-through;
}

figure {
  margin: 0;
}

hr {
  background-color: transparent;
  border: solid var(--color-neutral-30);
  border-width: 1px 0 0;
  clear: both;
  margin: 2.5rem var(--space-default);
}

ul,
ol {
  margin: 0;
  padding: 0;
}
