/*------------------------------------*\
  #COMPONENTS-HIGHLIGHT
\*------------------------------------*/

.c-highlight {
  display: block;
  text-align: center;
  line-height: 1.5em;
  font-size: var(--font-size-40);
  margin: var(--space-stack-default);
  font-style: italic;

  @media (--breakpoint-20) {
    font-size: var(--font-size-50);
    margin: var(--space-default) 0 calc(var(--space-default) * 2) 0;
  }
}
