/*------------------------------------*\
  #COMPONENTS-FORM-INPUT
\*------------------------------------*/

input[type=text],
input[type=number],
input[type=password],
input[type=search],
input[type=email],
input[type=tel],
input[type=url] {
  border: 1px solid var(--color-neutral-30);
  border-radius: var(--border-radius-default);
  color: inherit;
  display: block;
  font-family: var(--font-family-body);
  font-size: var(--font-size-30);
  margin: 0;
  padding: 14px;
  vertical-align: baseline;
  width: 100%;

  &:focus {
    border: 1px solid var(--color-primary-50);
    box-shadow: 0px 0px 0px 3px var(--color-neutral-20);
    outline: 0;
    color: var(--color-neutral-90);
  }
}

input:disabled {
  background: var(--color-neutral-10);
  color: var(--color-neutral-50);
}
