/*------------------------------------*\
  #COMPONENTS-CAROUSEL
\*------------------------------------*/

.c-carousel {
  /* padding-left: 10rem; */
}

.c-carousel__item {
  padding-right: var(--space-default);

  &:hover .c-carousel__inner {
    @media (--breakpoint-30) {
      background-color: var(--color-neutral-30a40);
      transform: scale(0.99);
    }
  }

  @media (--breakpoint-20) {
    padding-right: 48px;
  }

  &:first-child {
    @media (--breakpoint-20) {
      padding-left: 10rem;
    }
  }

  &:nth-child(2n + 1) {
    @media (--breakpoint-20) {
      margin-top: 32px;
    }
  }
}

.c-carousel__inner {
  display: block;
  padding: var(--space-default);
  backface-visibility: hidden;
  transition: transform 150ms var(--bezier-a),
    background-color 150ms var(--bezier-a);
}

.c-carousel__image {
  position: relative;

  & img {
    display: block;
    object-fit: cover;
    width: 80vw;
    height: 300px;

    @media (--breakpoint-20) {
      width: 400px;
      height: 500px;
    }
  }
}

.c-carousel__caption {
  position: absolute;
  z-index: var(--layer-10);
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 1.5em;
  padding: 0.5rem 0.75rem;
  padding-top: calc(var(--spacing) * 3);
  font-weight: 400;
  font-family: var(--font-family-body);
  color: var(--color-neutral-0a75);
  font-size: var(--font-size-30);

  &:after {
    content: " ";
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background-image: linear-gradient(
      180deg,
      transparent,
      var(--color-neutral-100a40)
    );
  }
}
