/*------------------------------------*\
  #COMPONENTS-PHOTOS
\*------------------------------------*/

.c-photos-wrapper {
  clear: both;
  margin: var(--space-stack-default);

  @media (--breakpoint-30) {
    margin: var(--space-stack-50);
    padding-top: var(--space-40);
  }
}

.c-photos {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  grid-auto-flow: dense; 
  grid-gap: 6px;

  /* @media (--breakpoint-10) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--breakpoint-20) {
    margin-left: -32px;
    margin-right: -32px;
  }

  @media (--breakpoint-30) {
    grid-template-columns: repeat(3, 1fr);
  } */
}


/* Dynamische breedtes */
.c-photos__item--33 {
  grid-column: span 4; /* 4/12 = 33% */
}

.c-photos__item--40 {
  grid-column: span 5; /* 5/12 ≈ 40% */
}

.c-photos__item--50 {
  grid-column: span 6; /* 6/12 = 50% */
}

.c-photos__item--60 {
  grid-column: span 7; /* 7/12 ≈ 60% */
}

.c-photos__item--66 {
  grid-column: span 8; /* 8/12 ≈ 66% */
}

.c-photos__item--100 {
  grid-column: span 12; /* Volledige breedte */
}

.c-photos__item--portrait {
  grid-row: span 2;
}


.c-photos__item {
  background-color: var(--color-neutral-90);
  position: relative;

  &:before {
    display: none;
  }

  & a {
    position: relative;

    &:hover:after {
      opacity: 0.1;
    }

    &:after {
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      background-color: var(--color-primary-50);
      transition: opacity 200ms var(--bezier-default);
    }
  }

  & img {
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;
    max-height: 90vh;
    object-fit: cover;
    display: block;
  }
}

.c-photos--square .c-photos__item  {
  & img {
    aspect-ratio: 1/1;
  }
}



/* Caption styling */
.c-photos__caption {
  position: absolute;
  z-index: var(--layer-10);
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 1.5em;
  padding: 0.5rem 0.75rem;
  padding-top: calc(var(--spacing) * 3);
  font-weight: 400;
  font-family: var(--font-family-body);
  color: var(--color-neutral-0a75);
  font-size: var(--font-size-30);

  &:after {
    content: " ";
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background-image: linear-gradient(
      180deg,
      transparent,
      var(--color-neutral-100a40)
    );
  }
}

/* Footnote styling */
.c-photos__footnote {
  text-align: right;
  font-size: var(--font-size-20);
  color: var(--color-neutral-50);
  padding-top: var(--space-20);
}
