{% for row in card_grid %}
  <ul class="c-card-grid">

    {% for card in row %}
      <li class="c-card {% if card.thumbnail %}c-card--image{% endif %}">

        {% if card.thumbnail %}
          <div class="c-card__image">
            <img class="js-lazy" data-original="{{ card.thumbnail }}">
            {% if card.caption %}<figcaption>{{ card.caption }}</figcaption>{% endif %}
            <a href="{{ card.url }}"></a>
          </div>
        {% endif %}

        <div class="c-card__content">
          <h2 class="c-heading c-heading--30"><a href="{{ card.url }}">{{ card.title }}</a></h2>
          <p>{{ card.content }}</p>
          <div class="c-card__meta c-paragraph c-paragraph--soft">
            <figure style="background-image: url('/assets/images/aljanscholtens.jpg');"></figure>
            <div>
              Written by <a href="https://twitter.com/aljanscholtens">Aljan Scholtens</a><br/>
              {{ card.date }}
            </div>
          </div>
        </div>
      </li>
    {% endfor %}

  </ul>
{% endfor %}
