<div class="c-comment">
  <div class="c-comment__inner">
    <!-- <p><a href="https://twitter.com/share?url=<script>window.location.href</script>&text=@aljanscholtens ">Reageer op twitter</a></p> -->
    <p class="c-paragraph c-paragraph--soft">Reageren? Leuk! Mag via <a target="_blank" href="https://twitter.com/intent/tweet?text=@aljanscholtens">Twitter</a> of stuur me een <a href="mailto:aljan@scholtens.me" target="_blank">mailtje</a>.</p>
  </div>
</div>

<!-- <div id="disqus_thread"></div>

<script>

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//aljanscholtens-nl.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> -->
