<div class="c-navigation-mobile__wrapper">
  <ul class="c-navigation-mobile">
    <li class="c-navigation-mobile__item {% if navigation_selected == 'design' %}c-navigation__item--selected{% endif %}"><a href="/design">Design</a></li>
    <li class="c-navigation-mobile__item {% if navigation_selected == 'photography' %}c-navigation__item--selected{% endif %}"><a href="/photography">Photography</a></li>
    <li class="c-navigation-mobile__item {% if navigation_selected == 'about' %}c-navigation__item--selected{% endif %}"><a href="/about">About</a></li>
    <li class="c-navigation-mobile__item {% if navigation_selected == 'blog' %}c-navigation__item--selected{% endif %}"><a href="/blog">Blog</a></li>
    <li class="c-navigation-mobile__item {% if navigation_selected == 'now' %}c-navigation__item--selected{% endif %}"><a href="/now">Now</a></li>
    <li class="c-navigation-mobile__item {% if navigation_selected == 'contact' %}c-navigation__item--selected{% endif %}"><a href="/contact">Contact</a></li>
    <!-- <li class="c-navigation-mobile__item"><a href=""><svg><use xlink:href="#icon-more"></use></svg></a></li> -->
  </ul>
</div>
