<div class="c-gallery-wrapper">
  {% for row in gallery_content %}
    <ul class="c-gallery">
      {% for image in row %}
      <li class="c-gallery__item c-gallery__item--{{ image.cols }}">
        {# <figure class="c-gallery__image"> #}
          <img src="{{ image.img }}">
          <figcaption class="c-gallery__figcaption">{{ image.caption }}</figcaption>
        {# </figure> #}
      </li>
      {% endfor %}
    </ul>
  {% endfor %}

  <div class="l-single c-gallery__footnote">
    <p><small><strong>Footnote</strong>: All these photos were taken with the Canon 6D and Tamron 150-600mm.</small></p>
  </div>
</div>
