<div class="l-wrapper">
  <div class="l-container">
    <footer class="c-footer">
      <ul class="c-footer__links">
        <li class="c-footer__links-item"><a href="https://twitter.com/aljanscholtens"><svg class="c-icon"><use xlink:href="#icon-twitter"></svg></a></li>
        <li class="c-footer__links-item"><a href="https://instagram.com/aljan"><svg class="c-icon"><use xlink:href="#icon-instagram"></svg></a></li>
        <li class="c-footer__links-item"><a href="https://www.youtube.com/channel/UCwrT63nbIvFbh2PSV8IkcPQ"><svg class="c-icon"><use xlink:href="#icon-youtube"></svg></a></li>
      </ul>
    </footer>
  </div>
</div>
