<nav class="c-navigation {% if header == true %}t-dark{% endif %}">

  <a class="c-navigation__logo" href="/">aljan</a>

  <ul class="c-navigation__items {% if navigation_hide == true %}u-display-none{% endif %}">
    <li class="c-navigation__item {% if navigation_selected == 'home' %}c-navigation__item--selected{% endif %}"><a href="/">home</a></li>
    <li class="c-navigation__item {% if navigation_selected == 'blog' %}c-navigation__item--selected{% endif %}"><a href="/blog">blog</a></li>
    <li class="c-navigation__item {% if navigation_selected == 'now' %}c-navigation__item--selected{% endif %}"><a href="/now">now</a></li>
    <li class="c-navigation__item {% if navigation_selected == 'contact' %}c-navigation__item--selected{% endif %}"><a href="/contact">contact</a></li>
  </ul>

  <ul class="c-navigation__links">
    <li class="c-navigation__links-item"><a href="https://twitter.com/aljanscholtens"><svg class="c-icon"><use xlink:href="#icon-twitter"></svg></a></li>
    <li class="c-navigation__links-item"><a href="https://instagram.com/aljan"><svg class="c-icon"><use xlink:href="#icon-instagram"></svg></a></li>
    <li class="c-navigation__links-item"><a href="https://www.youtube.com/channel/UCwrT63nbIvFbh2PSV8IkcPQ"><svg class="c-icon"><use xlink:href="#icon-youtube"></svg></a></li>
  </ul>

</nav>
