{% if header == true %}
  <div class="c-header {% if header_studio == true %}c-header--studio{% endif %}">
    <div class="c-header__content">
      <div class="c-header__body">
        <h1 class="c-header__title {% if header_title_gradient == true %}c-header__title--gradient{% endif %}">{{page_title}}</h1>
        {% if page_subtitle %}
          <p class="c-header__subtitle">{{page_subtitle}}</p>
        {% endif %}
      </div>
    </div>
    <div class="c-header__image" style="background-image: url('{{page_photo}}')"></div>

  </div>

{% else %}
  <h1 class="c-heading c-heading--50">{{page_title}}</h1>
{% endif %}
