<div class="c-navigation-mobile__wrapper">
  <ul class="c-navigation-mobile">
    <li class="c-navigation-mobile__item {% if navigation_selected == 'landscape-photography' %}c-navigation__item--selected{% endif %}"><a href="/landscape-photography">What I do</a></li>
    <li class="c-navigation-mobile__item {% if navigation_selected == 'gallery' %}c-navigation__item--selected{% endif %}"><a href="/gallery">Gallery</a></li>
    <li class="c-navigation-mobile__item {% if navigation_selected == 'workshops' %}c-navigation__item--selected{% endif %}"><a href="/workshops">Workshops</a></li>
    <li class="c-navigation-mobile__item {% if navigation_selected == 'about' %}c-navigation__item--selected{% endif %}"><a href="/about">About</a></li>
    <li class="c-navigation-mobile__item {% if navigation_selected == 'blog' %}c-navigation__item--selected{% endif %}"><a href="/blog">Blog</a></li>
    <li class="c-navigation-mobile__item {% if navigation_selected == 'contact' %}c-navigation__item--selected{% endif %}"><a href="/contact">Contact</a></li>
    <!-- <li class="c-navigation-mobile__item"><a href=""><svg><use xlink:href="#icon-more"></use></svg></a></li> -->
  </ul>
</div>
