<div class="c-author u-text-align-center">

  {% if blog_author == 'aljan' %}
    <figure style="background-image: url('/assets/images/aljanscholtens.jpg');"></figure>
  {% endif %}

  <p class="c-paragraph c-paragraph--soft">
    {% if blog_author == 'aljan' %}
      Geschreven door <a href="https://twitter.com/aljanscholtens" target="_blank"><span>Aljan Scholtens</span></a><br/>
    {% endif %}
    <time>{{blog_date}}</time>
  </p>
</div>

{% if blog_related %}<p class="u-text-align-center"><strong>Related</strong>: <a href="{{blog_related_url}}">{{blog_related}}</a></p>{% endif %}
