{% for row in card_grid %}
  <ul class="c-card-grid">

    {% for card in row %}
      <li class="c-card {% if card.thumbnail %}c-card--image{% endif %}">

        {% if card.thumbnail %}
          <figure class="c-card__image" style="background-image: url('{{ card.thumbnail }}');">
            {% if card.caption %}<figcaption>{{ card.caption }}</figcaption>{% endif %}
            <a href="{{ card.url }}"></a>
          </figure>
        {% endif %}

        <div class="c-card__content">
          <h2 class="c-heading c-heading--10"><a href="{{ card.url }}">{{ card.title }}</a></h2>
          <p>{{ card.content }}</p>
          <div class="c-card__meta">
            {% if card.author == 'aljan' %}
              <figure style="background-image: url('https://pbs.twimg.com/profile_images/478898190578487296/_osAxppr.jpeg');"></figure>
              <small>Written by <a href="http://twitter.com/aljanscholtens">Aljan Scholtens</a></small><br>
            {% endif %}
            <small>{{ card.date }}</small>
          </div>
        </div>
      </li>
    {% endfor %}

  </ul>
{% endfor %}
