<div class="c-gallery-wrapper">
  {% for row in gallery_items %}
    <ul class="c-gallery">
      {% for image in row %}
      <li class="c-gallery__item c-gallery__item--{{ image.cols }}">
        {# <figure class="c-gallery__image"> #}
          <img src="{{ image.img }}">
          {% if image.caption %}<figcaption class="c-gallery__figcaption">{{ image.caption }}</figcaption>{% endif %}
        {# </figure> #}
      </li>
      {% endfor %}
    </ul>
  {% endfor %}

  <div class="l-single c-gallery__footnote">
    <p><small><strong>Footnote</strong>: {{gallery_footnote | e}}</small></p>
  </div>
</div>
