{% extends 'layout/layout.base.html' %}

{% from 'components/components.wrapper.html' import wrapper %}

{% set page_title = 'About me' %}
{% set page_subtitle = '' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '/assets/images/header-06.jpg' %}
{% set page_thumbnail = 'http://www.aljanscholtens.nl/raw/media/_MG_1277.jpg' %}
{% set navigation_selected = 'about' %}

{% set header = true %} <!-- true is a large header, false is no header -->
{% set header_dark = true %}

{% block content %}

  {% if header == true %}
    {% include 'components/components.header.html' %}
  {% endif %}

  {% call wrapper() %}

    <div class="l-single">

      {% if header == false %}
        {% include 'components/components.header.html' %}
      {% endif %}

      <p class="c-paragraph c-paragraph--lead">Hi, I'm Aljan, a landscape photographer. I wander in the great outdoors to capture nature at its best. I live in the northern part of the Netherlands, but am traveling to other destinations quite often.</p>

      <p>Oh, and most of the time, besides my camera gear and good behaviour, I bring my <a href="https://www.instagram.com/munsterlandernikki/"">Small Münsterlander Nikki</a> on my photography trips.</p>

      <p>Interested in what I'm doing in landscape photography? Read about <a href="/landscape-photography">what I do</a>.</p>

    </div>

    <!-- Gallery -->
    {% set gallery = [
      [
        {img: '/assets/images/about-01.jpg', caption: '', cols: 50},
        {img: '/assets/images/about-02.jpg', caption: '', cols: 50}
      ]
    ] %}
    {% set gallery_footnote = '' %}
    {% include 'components/components.gallery.html' %}
    <!-- End Gallery -->

    <div class="l-single">

      <h2 class="c-heading c-heading--30">Why?</h2>

      <p>In the last decade we are disconnecting ourselves from nature. Social media, smartphones and other distractions are partially the reason why we have trouble focusing and enjoying nature, including myself. I want to <strong>reconnect</strong> people just a little bit with nature and themselves through my photography. (? And the bitter irony is that I'm trying to reconnect people through these same channels.)</p>

      <h2 class="c-heading c-heading--30">How did I become a landscape photographer?</h2>
      <p>My grandfather forged my enthusiasm for nature at a young age. He told me about the local birds, landscapes and villages. When I reached the age of 15, I got to use my father's Pentax ME Super SLR, which is now positioned in a cabinet with 10 other analogue cameras. </p>

      <p>Within two years I bought my own Canon EOS 350D and was taking photos of shopping carts, flowers, cats, people and landscapes. Mainly landscapes got my attention, but in the early days I had real issues with the technical side of photography and it got me frustrated. Years later I picked up the camera again and I got real excited.</p>

      <p>The last ten years I was the co-owner of a design agency and we were creating digital products. Next to this business my enthusiasm in landscape photography grew and I decided to become a landscape photographer. We live in a world where you can try different things when the time is right.</p>

    <!-- </div> -->

    <!-- Gallery -->
    {% set gallery = [
      [
        {img: '/assets/images/about-03.jpg', caption: '', cols: 100}
      ]
    ] %}
    {% set gallery_footnote = '' %}
    {% include 'components/components.gallery.html' %}
    <!-- End Gallery -->

    <!-- <div class="l-single"> -->

      <p>Nowadays I travel a lot for landscape photography with destinations like Scotland, Iceland, Norway, Austria, Italy, New Zealand and of course The Netherlands. For me there is nothing better than being outside and capture captivating photos. A nice morning outside without taking photos, is still a nice morning outside. Nature never abandons us, as long as you're open for it.</p>

      <p>The most important aspect in my search for good landscape photography is purity. With my photos I want to fascinate people  to get outside, appreciate and cherish nature and to show the them how it really is. This search is not completed, but every small step, is a step in the right direction.</p>


      <h2 class="c-heading c-heading--30">Gear</h2>
      <p>Last year I switched from Canon to Sony, so below is my new gear. And I have a small museum at home with very old analogue cameras, and sometime I use my old Pentax lenses on my Sony camera [link to youtube video].</p>

    <!-- </div> -->

    <!-- Gallery -->
    {% set gallery = [
      [
        {img: '/assets/images/about-04.jpg', caption: '', cols: 100}
      ]
    ] %}
    {% set gallery_footnote = '' %}
    {% include 'components/components.gallery.html' %}
    <!-- End Gallery -->

    <!-- <div class="l-single"> -->

      <ul class="c-list">
        <li><strong>Sony A7III</strong>: I love this camera, the sensor is just amazing.</li>
        <li><strong>Sony 70-200mm f4 G</strong>: Wonderful lens, most landscape photos I shoot with this lens.</li>
        <li><strong>Sony 24-70mm f2.8 GM</strong>: A perfect all-round lens, I also film my Youtube videos with this lens.</li>
        <li><strong>Sony 85mm f1.8</strong>: Very good for the price, I use this lens when I'm shooting portraits.</li>
        <li><strong>Atlas Athlete backpack</strong>: Like most landscape photographers I'm always searching for the perfect backpack, this one comes really close.</li>
        <li><strong>Benro Mach3 Tripod</strong>: Close to home I use this very sturdy and lightweight tripod.</li>
        <li><strong>Leofoto travel tripod</strong>: While hiking long distances I use this small and extremely portable travel tripod.</li>
        <li><strong>Nisi V5 Filters</strong>: I'm using some ND filters, Graduate filters and of course a polariser.</li>
        <li><strong>RRS L-bracket</strong>: Perfect L-bracket for a Sony camera, my thumb stays on the camera this way.</li>
        <li><strong>DJI Mavic Pro</strong>: My compact drone I sometimes take with me.</li>
        <li><strong>Canon Pro-1000 Printer</strong>: Printing a photo is the beste thing you can do.</li>
      </ul>


      <!-- <h2 class="c-heading c-heading--30">Design</h2>
      <ul class="c-list">
        <li>Currently I’m a <a href="/design">freelance designer</a> and product owner setting up design systems for organisations.</li>
        <li>Organizing <a href="http://www.refreshconference.nl/">Refresh Conference</a>, a conference in Groningen for designers and front-end developers with great speakers. It's on 26th of October 2018, get your tickets. ;-)</li>
        <li>Running a meetup called <a href="http://www.meetup.com/refresh-groningen/">Refresh</a>, it’s for designers and front-end developers.</li>
        <li>Designing the new website of <a href="https://www.qbit.nl/">Qbit</a>, a complete rebranding of the cyber security companies Insite Security and ITSec.</li>
        <li>Improving the design system of <a href="http://voys.nl/">Voys</a> in Groningen one day a week.</li>
        <li>Updating CSS framework <a href="https://github.com/AljanScholtens/taiga-boilerplate">Taiga Boilerplate</a>, it is based on ITCSS, PostCSS, BEM and Nunjucks.</li>
        <li>Formerly owner of the design agency <a href="http://studiowolf.com/">Studio Wolf</a> together with <a href="http://twitter.com/timsluis">Tim Sluis</a>.</li>
      </ul> -->


      <!-- <p class="c-paragraph c-paragraph--lead">Last update on 1th December 2018. The now page is inspired by <a href="http://nownownow.com/">Nownownow</a>.</p>

      <h2 class="c-heading c-heading--30">Photography</h2>
      <ul class="c-list">
        <li>Setting up my small business as a landscape photographer, I started on the 1th of December 2018.</li>
        <li>Starting a <a href="https://www.youtube.com/watch?v=99wWFRlj-cM">Youtube Channel</a> about landscape photography, first video is about the inner critic.</li>
        <li>Planning a photography book about a Dutch nature reserve.</li>
        <li>Opened an <a href="https://www.etsy.com/shop/aljanscholtens">Etsy shop</a> where you can buy prints of my landschape photos.</li>
        <li>Regularly posting landscape photos to <a href="https://instagram.com/aljan">Instagram</a>.</li>
        <li>Photographing the calendar of 2019 for <a href="http://groningerlandschap.nl">'het Groninger Landschap'</a>, you can <a href="https://aljanscholtens.nl/groningerlandschap">buy prints</a>.</li>
        <li>I recently bought a Canon A2 printer, so if you want a print, just <a href="mailto:aljan@scholtens.me">contact me</a>.</li>
        <li>Preparing photography trips to Scotland and New Zealand.</li>
        <li>Photographer for 'het Groninger Landschap', check my <a href="https://www.youtube.com/watch?v=Em30YozBjwM&t=37s">latest work</a> in a video.</li>
        <li>Posting photos of our <a href="http://www.instagram.com/munsterlandernikki/">Small Münsterländer Nikki</a> on Instagram, she is sweet, stubborn and enthusiastic!</li>
        <li>Preparing the next hike with friends this summer in Austria. Watch a video of our <a href="https://www.youtube.com/watch?v=yY4lhMk03uw">hike in the Dolomites, Italy</a> last year.</li>
        <li>Photographing all 54 Dolmens (<a href="http://www.hunebeddenwijzer.nl/hunebedden/">Hunebedden</a>) in the Netherlands for an upcoming book.</li>
        <li>Formerly owner of the design agency <a href="http://studiowolf.com/">Studio Wolf</a> together with <a href="http://twitter.com/timsluis">Tim Sluis</a>.</li>
      </ul>

      <h2 class="c-heading c-heading--30">I’m currently interested in writing and speaking about</h2>
      <ul class="c-list">
        <li>The art of seeing in landscape photography</li>
        <li>Traveling as a landscape photographer</li>
        <li>Starting a business in landscape photograhy</li>
      </ul>

      <p>You can contact me at <a href="mailto:aljan@scholtens.me">aljan@scholtens.me</a>.</p> -->

    </div>

  {% endcall %}

{% endblock %}
