{% extends 'layout/layout.base.html' %}

{% from 'components/components.wrapper.html' import wrapper %}

{% set page_title = 'About me' %}
{% set page_subtitle = '' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '/assets/images/header-06.jpg' %}
{% set page_thumbnail = 'http://www.aljanscholtens.nl/raw/media/_MG_1277.jpg' %}
{% set navigation_selected = 'about' %}

{% set header = true %} <!-- true is a large header, false is no header -->
{% set header_title_gradient = true %}


{% block content %}

  {% if header == true %}
    {% include 'components/components.header.html' %}
  {% endif %}

  {% call wrapper() %}

    <div class="l-single">

      {% if header == false %}
        {% include 'components/components.header.html' %}
      {% endif %}

      <p class="c-paragraph c-paragraph--lead">Hi, I'm Aljan, a landscape photographer. I wander in the great outdoors to capture nature at its best. I live in Groningen, the northern part of the Netherlands, but am traveling to other destinations quite often.</p>

      <p>Oh, and most of the time, besides my camera gear and good behaviour, I bring my <a href="https://www.instagram.com/munsterlandernikki/"">Small Münsterlander Nikki</a> on my photography trips.</p>

      <p>Interested in what I'm doing in landscape photography? Read about <a href="/landscape-photography">what I do</a>.</p>

    </div>

    <!-- Gallery -->
    {% set gallery = [
      [
        {img: '/assets/images/about-01.jpg', caption: '', cols: 50},
        {img: '/assets/images/about-02.jpg', caption: '', cols: 50}
      ]
    ] %}
    {% set gallery_footnote = '' %}
    {% include 'components/components.gallery.html' %}
    <!-- End Gallery -->

    <div class="l-single">

      <h2 class="c-heading c-heading--30">Why?</h2>

      <p>In the last decade we are disconnecting ourselves from nature. Social media, smartphones and other distractions are partially the reason why we have trouble focusing and enjoying nature, including myself. I want to <strong>reconnect</strong> people just a little bit with nature and themselves through my photography.</p>

      <h2 class="c-heading c-heading--30">How did I became a landscape photographer?</h2>
      <p>My grandfather forged my enthusiasm for nature at a young age. He told me about the local birds, landscapes and villages. When I reached the age of 15, I got to use my father's Pentax ME Super SLR, which is now positioned in a cabinet with 10 other analogue cameras. </p>

      <p>Within two years I bought my own Canon EOS 350D and was taking photos of shopping carts, flowers, cats, people and landscapes. Mainly landscapes got my attention, but in the early days I had real issues with the technical side of photography and it got me frustrated. Years later I picked up the camera again and I got really excited.</p>

      <p>The last ten years I was the co-owner of a design agency and we were creating digital products. Next to this business my enthusiasm in landscape photography grew and I decided to become a landscape photographer. We live in a world where you can try different things when the time is right.</p>

    <!-- </div> -->

    <!-- Gallery -->
    {% set gallery = [
      [
        {img: '/assets/images/about-03.jpg', caption: '', cols: 100}
      ]
    ] %}
    {% set gallery_footnote = '' %}
    {% include 'components/components.gallery.html' %}
    <!-- End Gallery -->

    <!-- <div class="l-single"> -->

      <p>Nowadays I travel a lot for landscape photography with destinations like Scotland, Iceland, Norway, Austria, Italy, New Zealand and of course The Netherlands. For me there is nothing better than being outside and capture captivating photos. A nice morning outside without taking photos, is still a nice morning outside. Nature never abandons us, as long as you're open for it.</p>

      <p>The most important aspect in my search for good landscape photography is purity. With my photos I want to fascinate people to get outside, appreciate and cherish nature and to show them how it really is. This search is not completed, but every small step is a step in the right direction.</p>


      <h2 class="c-heading c-heading--30">Gear</h2>
      <p>Last year I switched from Canon to Sony, so below is my new gear. And I have a small museum at home with very old analogue cameras. Sometimes I use my old Pentax lenses on my Sony camera.</p>

    <!-- </div> -->

    <!-- Gallery -->
    {% set gallery = [
      [
        {img: '/assets/images/about-04.jpg', caption: '', cols: 100}
      ]
    ] %}
    {% set gallery_footnote = '' %}
    {% include 'components/components.gallery.html' %}
    <!-- End Gallery -->

    <!-- <div class="l-single"> -->

      <ul class="c-list">
        <li><strong>Sony A7III</strong>: I love this camera, the sensor is just amazing.</li>
        <li><strong>Sony 70-200mm f4 G</strong>: Wonderful lens, I shoot most landscape photos with this lens.</li>
        <li><strong>Sony 24-70mm f2.8 GM</strong>: A perfect all-round lens, I also film my Youtube videos with this lens.</li>
        <li><strong>Sony 85mm f1.8</strong>: Very good for the price, I use this lens when I'm shooting portraits.</li>
        <li><strong>Atlas Athlete backpack</strong>: Like most landscape photographers I'm always searching for the perfect backpack, this one comes really close.</li>
        <li><strong>Benro Mach3 Tripod</strong>: Close to home I use this very sturdy and lightweight tripod.</li>
        <li><strong>Leofoto travel tripod</strong>: While hiking long distances I use this small and extremely portable travel tripod.</li>
        <li><strong>Nisi V5 Filters</strong>: I'm using some ND filters, Graduate filters and of course a polariser.</li>
        <li><strong>RRS L-bracket</strong>: Perfect L-bracket for a Sony camera, my thumb stays on the camera this way.</li>
        <li><strong>DJI Mavic Pro</strong>: My compact drone I often take with me.</li>
        <li><strong>Canon Pro-1000 Printer</strong>: Printing a photo is the best thing you can do.</li>
      </ul>

      <h2 class="c-heading c-heading--30">What I do?</h2>
      <p>Curious about what I do in <a href="/landscape-photography">landscape photography</a>? Or maybe you want to <a href="/gallery">see my work</a>?</p>

    </div>



  {% endcall %}

{% endblock %}
