{% extends 'layout/layout.base.html' %}

{% from 'components/components.wrapper.html' import wrapper %}

{% set page_title = 'Contact' %}
{% set page_subtitle = '' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '/assets/images/header-08.jpg' %}
{% set page_thumbnail = '' %}
{% set navigation_selected = 'contact' %}

{% set header = true %} <!-- true is a large header, false is no header -->
{% set header_dark = true %}

{% block content %}

  {% if header == true %}
    {% include 'components/components.header.html' %}
  {% endif %}

  {% call wrapper() %}

  <div class="l-single">

    {% if header == false %}
      {% include 'components/components.header.html' %}
    {% endif %}

    <p class="c-paragraph c-paragraph--lead">Would you like to discuss a project, do you have questions about prints or just want to drink a coffee? I like to meet people, so don't hesitate to contact me.</p>

    <p>Send me an e-mail to <a href="mailto:aljan@scholtens.me">aljan@scholtens.me</a> or call me at <a href="tel:0031613368901">0031 (0)6 133 689 01</a>.</p>

    <p>You can also find me on <a href="https://instagram.com/aljan">Instagram</a>, <a href="https://www.youtube.com/channel/UCwrT63nbIvFbh2PSV8IkcPQ">Youtube</a>, <a href="https://twitter.com/aljanscholtens">Twitter</a> and <a href="https://linkedin.com/in/aljanscholtens/">LinkedIn</a>.

  </div>

  {% endcall %}

{% endblock %}
