{% extends 'layout/layout.base.html' %}

{% from 'components/components.wrapper.html' import wrapper %}

{% set page_title = 'Contact' %}
{% set page_subtitle = '' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '/assets/images/header-06.jpg' %}
{% set page_thumbnail = '' %}
{% set navigation_selected = 'contact' %}

{% set header = true %} <!-- true is a large header, false is no header -->
{% set header_studio = false %}
{% set header_title_gradient = true %}


{% block content %}

  {% if header == true %}
    {% include 'components/components.header.html' %}
  {% endif %}

  {% call wrapper() %}

  <div class="l-single u-content">

    {% if header == false %}
      {% include 'components/components.header.html' %}
    {% endif %}

    <p class="c-paragraph c-paragraph--lead">Want to drink a coffee? Meet via a videocall? Let me know!</p>

    <p>Send me an e-mail at <a href="mailto:aljan@scholtens.me">aljan@scholtens.me</a>.</p>

    <p>You can also find me on <a href="https://instagram.com/aljan">Instagram</a>, <a href="https://www.youtube.com/aljanscholtens">Youtube</a>, <a href="https://twitter.com/aljanscholtens">Twitter</a>, <a href="https://linkedin.com/in/aljanscholtens/">LinkedIn</a> and <a href="http://dribbble.com/aljan">Dribbble</a>.

  </div>

  {% endcall %}

{% endblock %}
