{% extends 'layout/layout.base.html' %}

{% from 'components/components.wrapper.html' import wrapper %}

{% set page_title = 'Freelance designer' %}
{% set page_socialimage = "https://aljanscholtens.nl/media/design.jpg" %}
{% set page_subtitle = '' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '/media/design.jpg' %}
{% set page_thumbnail = '' %}
{% set navigation_selected = 'design' %}
{% set navigation_hide = true %}

{% set header = true %} <!-- true is a large header, false is no header -->
{% set header_dark = true %}

{% block content %}

  {% if header == true %}
    {% include 'components/components.header.html' %}
  {% endif %}

  {% call wrapper() %}

    <div class="l-single">

      {% if header == false %}
        {% include 'components/components.header.html' %}
      {% endif %}

      <p class="c-paragraph c-paragraph--lead">Heeft jouw organisatie te maken met inconsistente interfaces en onnodige herhaling in design? Ik help organisaties design te schalen via <a href="https://medium.com/eightshapes-llc/a-design-system-isn-t-a-project-it-s-a-product-serving-products-74dcfffef935">design systems</a>. Met mijn ervaring in branding en ondernemerschap kan ik een design system organisatiebreed inzetten.</p>

      <p>Interesse? Mail me op <a href="mailto:aljan@scholtens.me">aljan@scholtens.me</a> of bel 06 133 689 01.</p>

      <h2>Wat doe ik?</h2>
      <p>Als designer en product owner richt ik design systems in. Een design system bepaald de denkwijze en richtlijnen voor digitale producten binnen een organisatie. Ook zorgt het ervoor dat iedereen binnen een team dezelfde design taal spreekt. Het brengt consistentie binnen één of meerdere producten, en uiteindelijk een efficiënte doorontwikkeling. Een design system is een op zichzelf staand product, het liefst met een eigen backlog en een eigen team.</p>

      <h2>Opdrachtgevers</h2>
      <p class="c-paragraph">Een greep uit de opdrachtgevers waar ik in het verleden of momenteel mee samenwerk.
      <ul class="c-logo-grid">
        <li class="c-logo-grid__item">
          <img src="/assets/images/logo-voys.png" />
        </li>
        <li class="c-logo-grid__item">
          <img src="/assets/images/logo-topicus.png" />
        </li>
        <li class="c-logo-grid__item">
          <img src="/assets/images/logo-payt.png" />
        </li>
        <li class="c-logo-grid__item">
          <img src="/assets/images/logo-nos.jpg" />
        </li>
        <li class="c-logo-grid__item">
          <img src="/assets/images/logo-dacom.png" />
        </li>
        <li class="c-logo-grid__item">
          <img src="/assets/images/logo-parnassys.png" />
        </li>
        <li class="c-logo-grid__item">
          <img src="/assets/images/logo-ov.png" />
        </li>
        <li class="c-logo-grid__item">
          <img src="/assets/images/logo-debibliotheek.png" />
        </li>
      </ul>

      <h2>Wat krijg je?</h2>
      <p>Het opzetten en in gebruik nemen van een design system is een proces waarbij de volgende onderdelen ingericht en continu aangepast worden.</p>
      <ul class="c-list">
        <li><strong>Design richtlijnen</strong>. Deze worden verwerkt in een style guide of in bijvoorbeeld Google Docs. Het kan uitgebreid worden met andere onderdelen zoals personas, merkwaarden etc.</li>
        <li><strong>Sketch files</strong>. Goede Sketch files met sterke symbols zijn binnen een design organisatie een goede basis om vanuit te werken.</li>
        <li><strong>Component library</strong>. De componenten zijn voor zover mogelijk inzetbaar voor meerdere projecten, eenvoudig aan te passen en herbruikbaar.</li>
        <li><strong>Design thinking</strong>. Een team wat op één lijn zit wat betreft design thinking en doorontwikkeling. Hierbij zal op den duur mijn ondersteuning niet meer nodig zijn.</li>
      </ul>

      <h2>Werkwijze</h2>
      <p>Samen met het team bekijken we wat de beste manier is om een design system in te richten. Wanneer een organisatie geen design system heeft gaan we aan de slag met de volgende stappen.</p>
      <ul class="c-list">
        <li><strong>Kick-off</strong>. Hierbij zoeken we uit hoe het merk in elkaar steekt en waar de knelpunten zitten van het design en digitale product. We kijken naar inconsistentie, problemen bij doorontwikkeling en de business goals van het product. Ook kijken we waar ons design system uit gaat bestaan.</li>
        <li><strong>Componenten-inventarisatie</strong>. Met het team gaan we aan de slag om alle huidige componenten in kaart te brengen, vooral bij een bestaand product levert dit interessante waarnemingen op met betrekking tot herhaling van code (denk aan dropdowns waar van te veel varianten zijn) en inconsistentie van design.</li>
        <li><strong>Tokens bepalen</strong>. Hiermee bepalen we de richtlijnen van het design system. Hoe gaan we om met ruimtes, typografie, font groottes, kleuren en meer.</li>
        <li><strong>Componenten</strong>. Op basis van de componenten-inventarisatie hebben we bepaald welke componenten we nodig zijn. Deze worden vervolgens ontworpen op basis van design tokens in Sketch.</li>
        <li><strong>Sprints</strong>. Componenten worden op basis van belangrijkheid uitgewerkt middels sprints. De belangrijkste zullen eerst uitgewerkt worden, zodat deze snel gebruikt kunnen worden in bestaande producten.</li>
      </ul>

      <h2>Verder?</h2>
      <p>Naast mij volledig inzetten om een design system in te richten kun je me ook inschakelen voor de onderstaande diensten.</p>
      <ul class="c-list">
        <li><strong>Design exploration</strong>. Ben je als organisatie zoekende naar een design stijl voor digitale producten. Dan kunnen we middels design exploration vinden wat de juiste richting is en samen met andere designers en/of ontwikkelaars een sterk product neerzetten.</li>
        <li><strong>Design of CSS review</strong>. Nieuwsgierig wat er beter kan aan een digitaal product op design of CSS gebied? Samen zoeken we naar inconsistenties, stijl-verbeteringen en optimalisatie in design en CSS.</li>
        <li><strong>Workshops en presentaties</strong>. Om op een eenvoudige manier te kijken hoe een design system binnen je organisatie ingezet kan worden kan ik een workshop geven.</li>
        <li><strong>Wat doe ik niet</strong>: online marketing, javascript, back-end code, drukwerk, illustraties, content strategie.</li>
      </ul>

      <h2>Referenties</h2>
      <blockquote class="c-blockquote">
        <p>Aljan heeft in korte tijd de belangrijkste problemen gedefinieerd binnen onze organisatie en hierin digitale oplossingen aangedragen. Vervolgens heeft hij ze qua sterk design uitgewerkt samen met het ontwikkelteam en een systeem neergezet waar we echt mee verder kunnen. Hij denkt mee, is collegiaal en kenmerkt zich door zijn loyaliteit. Daarnaast ook nog een goede fotograaf.</p>
        <cite>Wies van 't Slot / Eigenaar 365werk</cite>
      </blockquote>
      <blockquote class="c-blockquote">
        <p>Onze web applicatie van Payt was toe aan een verbetering qua design en gebruik, hiervoor hebben we Aljan ingeschakeld. Hij heeft aan de hand van diverse sessies problemen vastgesteld en nieuwe ontwerpen gemaakt. En deze op locatie bij ons samen met de ontwikkelaars uitgewerkt, getest met onze klanten en zo een ijzersterk design system opgezet. Het is erg fijn om met hem samen te werken!</p>
        <cite>Merijn Stapert / Oprichter Payt</cite>
      </blockquote>
      <blockquote class="c-blockquote">
        <p>Wat ik waardeer aan Aljan is dat hij altijd (!) de waarom vraag stelt, hij neemt dingen niet zomaar aan en vraagt door. Hij is punctueel en betrouwbaar maar heeft de gave om het grotere geheel niet uit het oog te verliezen. Waar hij zich de laatste jaren hard voor heeft gemaakt is een designsysteem waardoor we ontzettend makkelijk en efficiënt kunnen schalen. Een grote verbetering voor Voys waarmee we klaar zijn voor de internationalisatie. Aljan heb ik leren kennen als een integere en zorgzame collega.</p>
        <cite>Nadine Smalbil / Strategische Content Marketeer Voys</cite>
      </blockquote>

      <h2>Overige</h2>
      <ul class="c-list">
        <li>Bekijk een <a href="https://www.dropbox.com/s/tt3trafdhldq3zf/_Design.zip?dl=0">aantal ontwerpen</a> van recente projecten.</li>
        <li>Naast mijn vaste projecten ontwikkel ik een <a href="https://github.com/AljanScholtens/taiga-boilerplate">CSS prototyping framework</a>; te vinden op Github. </li>
        <li>Samen met Ron van de Graaf organiseer ik iedere twee maanden een <a href="https://www.meetup.com/refresh-groningen/">design &amp; front-end meet-up</a> genaamd Refresh.</li>
        <li>De <a href="https://github.com/AljanScholtens/aljanscholtens.nl">code van deze website</a> is te vinden op Github.</li>
      </ul>

      <h2>Zet me in</h2>
      <p>Interesse? Ik spreek graag af om kennis te maken. Mail me op <a href="mailto:aljan@scholtens.me">aljan@scholtens.me</a> of bel 06 133 689 01.</p>

      <p>Ook ben ik bereikbaar via <a href="https://www.jellow.nl/">Jellow</a>, <a href="https://twitter.com/aljanscholtens">Twitter</a>, <a href="https://www.linkedin.com/in/aljanscholtens">LinkedIn</a>, <a href="http://dribbble.com/aljan">Dribbble</a> en <a href="https://instagram.com/aljan">Instagram</a>.</p>

    </div>

    <!-- Gallery -->
    {% set gallery = [
      [
        {img: '/media/design/aljanscholtens-1.jpg', caption: '', cols: 60},
        {img: '/media/design/aljanscholtens-2.jpg', caption: '', cols: 40},
        {img: '/media/design/aljanscholtens-3.jpg', caption: '', cols: 33},
        {img: '/media/design/aljanscholtens-4.jpg', caption: '', cols: 33},
        {img: '/media/design/aljanscholtens-5.jpg', caption: '', cols: 33}
      ]
    ] %}
    {% set gallery_footnote = '' %}
    {#}{% include 'components/components.gallery.html' %}#}
    <!-- End Gallery -->

  {% endcall %}

{% endblock %}
