{% extends 'layout/layout.base.html' %}

{% from 'components/components.wrapper.html' import wrapper %}

{% set page_title = 'Landscape gallery' %}
{% set page_subtitle = '' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '/media/1.jpg' %}
{% set page_thumbnail = '' %}
{% set navigation_selected = 'gallery' %}

{% set header = false %} <!-- true is a large header, false is no header -->


{% block content %}

  {% if header == true %}
    {% include 'components/components.header.html' %}
  {% endif %}

  {% call wrapper() %}

    <div class="l-single">

      {% if header == false %}
        {% include 'components/components.header.html' %}
      {% endif %}

      <p class="c-paragraph c-paragraph--lead">
        These photos are what it's all about. I love simplicity in nature, so often I'm searching for isolated subjects.
      </p>

      <p class="c-paragraph c-paragraph--soft">All photos are available as prints.</p>

    </div>

    <!-- Gallery -->
    {# {% set gallery_gutter = 'large' %} #}
    {% set galleryGrid = [
      [
        {img: '/media/portfolio/aljanscholtens-23.jpg', caption: 'Harz, Germany', cols: 100},
        {img: '/media/portfolio/aljanscholtens-27.jpg', caption: 'Drenthe, Netherlands', cols: 100},
        {img: '/media/portfolio/aljanscholtens-21.jpg', caption: 'Groningen, Netherlands', cols: 100},

        {img: '/media/portfolio/aljanscholtens-17.jpg', caption: 'Highlands, Iceland', cols: 100},


        {img: '/media/portfolio/aljanscholtens-25.jpg', caption: 'Cornwall, England', cols: 100},
        {img: '/media/portfolio/aljanscholtens-26.jpg', caption: 'Drenthe, Netherlands', cols: 100},


        {img: '/media/portfolio/aljanscholtens-20.jpg', caption: 'Isle of Skye, Scotland', cols: 100},

        {img: '/media/portfolio/aljanscholtens-22.jpg', caption: 'Groningen, Netherlands', cols: 100},
        {img: '/media/portfolio/aljanscholtens-18.jpg', caption: 'Glencoe, Scotland', cols: 100},

        {img: '/media/portfolio/aljanscholtens-16.jpg', caption: 'Iceland', cols: 100},
        {img: '/media/portfolio/aljanscholtens-14.jpg', caption: 'Drenthe, Netherlands', cols: 100},
        {img: '/media/portfolio/aljanscholtens-24.jpg', caption: 'Friesland, Netherlands', cols: 100},
        {img: '/media/portfolio/aljanscholtens-19.jpg', caption: 'Glencoe, Scotland', cols: 100},
        {img: '/media/portfolio/aljanscholtens-15.jpg', caption: 'Friesland, Netherlands', cols: 100},
        {img: '/media/portfolio/aljanscholtens-13.jpg', caption: 'Dolmen', cols: 100},

        {img: '/media/portfolio/aljanscholtens-9.jpg', caption: 'Groningen, Netherlands', cols: 100},
        {img: '/media/portfolio/aljanscholtens-11.jpg', caption: 'Karwendel, Austria', cols: 100},

        {img: '/media/portfolio/aljanscholtens-10.jpg', caption: 'Madeira, Portugal', cols: 100},


        {img: '/media/portfolio/aljanscholtens-5.jpg', caption: 'Drenthe, Netherlands', cols: 100},
        {img: '/media/portfolio/aljanscholtens-6.jpg', caption: 'South Africa', cols: 100},

        {img: '/media/portfolio/aljanscholtens-3.jpg', caption: 'Alps, Italy', cols: 100}
      ]
    ] %}
    {% set galleryGrid_footnote = '' %}
    {% include 'components/components.gallery-grid.html' %}
    <!-- End Gallery -->

  {% endcall %}

{% endblock %}

<!-- {img: '/media/portfolio/aljanscholtens-12.jpg', caption: 'Austria', cols: 100}, -->
<!-- {img: '/media/portfolio/aljanscholtens-8.jpg', caption: 'De Poffert, Netherlands', cols: 100}, -->
<!-- {img: '/media/portfolio/aljanscholtens-4.jpg', caption: 'Onlanden, Netherlands', cols: 100}, -->
<!-- {img: '/media/portfolio/aljanscholtens-1.jpg', caption: 'Ardnamurchan, Scotland', cols: 100} -->
<!-- {img: '/media/portfolio/aljanscholtens-7.jpg', caption: 'Paterswolde, Netherlands', cols: 100}, -->
<!-- {img: '/media/portfolio/aljanscholtens-2.jpg', caption: 'Ardnamurchan, Scotland', cols: 100} -->
