{% extends 'layout/layout.base.html' %}

{% from 'components/components.wrapper.html' import wrapper %}

{% set page_title = 'Groninger Landschap Kalender 2019' %}
{% set page_subtitle = '' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '/media/portfolio/aljanscholtens-21.jpg' %}
{% set page_thumbnail = '' %}
{% set navigation_selected = 'landscape-photography' %}

{% set header = true %} <!-- true is a large header, false is no header -->
{% set header_dark = true %}

{% block content %}

  {% if header == true %}
    {% include 'components/components.header.html' %}
  {% endif %}

  {% call wrapper() %}

    <div class="l-single">

      {% if header == false %}
        {% include 'components/components.header.html' %}
      {% endif %}

      <p class="c-paragraph c-paragraph--lead">De kalender van het Groninger Landschap 2019 heeft als thema 'Groningen vanuit de lucht'. De 13 foto's op deze pagina zijn als print te bestellen.</p>

      <p class="c-paragraph">De 13 foto's worden gedrukt op Fotospeed papier in de formaten A2, A3 en A4 en worden verstuurd met uitgebreide beschrijving en stevige verpakking.</p>

      <p class="c-paragraph">Voor vragen over de kalender of mij inschakelen als landschapsfotograaf kun je mailen naar <a href="mailto:aljan@scholtens.me" target="_blank">aljan@scholtens.me</a>. Voor meer inspiratie bekijk mijn <a href="https://aljanscholtens.nl/photography">portfolio</a> en voor recent werk <a href="https://instagram.com/aljan">Instagram</a>.</p>

      <p><img width="280" style="display:block;" src="/assets/images/het-groninger-landschap.png"></p>

      <blockquote class="c-blockquote">
        <p>Vanuit het Groninger Landschap zochten we een fotograaf die ons kon helpen met de kalender van 2019. Die hebben we gevonden in Aljan en hij heeft ons geholpen mee te denken over het concept en heeft ruim op tijd 13 prachtige foto’s gepresenteerd die het Groninger Landschap erg mooi vertegenwoordigen. Hij is nauw betrokken bij het drukproces en spreekt vervolgens met passie over de kalender tijdens ons jaarlijkse event voor beschermers. Erg fijn om met Aljan samen te werken! </p>
        <cite>Ellen Bos, Het Groninger Landschap</cite>
      </blockquote>

      <p><a class="c-button c-button--primary" href="/groningerlandschap-bestel.html">Bestel prints</a></p>

    </div>

    <!-- Gallery -->
    {# {% set gallery_gutter = 'large' %} #}
    {% set galleryGrid = [
      [
        {img: '/media/groningerlandschap/gl-kalender-2019-front.jpg', caption: 'Voorblad', cols: 100},
        {img: '/media/groningerlandschap/gl-kalender-2019-01.jpg', caption: 'Januari', cols: 100},
        {img: '/media/groningerlandschap/gl-kalender-2019-02.jpg', caption: 'Februari', cols: 100},
        {img: '/media/groningerlandschap/gl-kalender-2019-03.jpg', caption: 'Maart', cols: 100},
        {img: '/media/groningerlandschap/gl-kalender-2019-04.jpg', caption: 'April', cols: 100},
        {img: '/media/groningerlandschap/gl-kalender-2019-05.jpg', caption: 'Mei', cols: 100},
        {img: '/media/groningerlandschap/gl-kalender-2019-06.jpg', caption: 'Juni', cols: 100},
        {img: '/media/groningerlandschap/gl-kalender-2019-07.jpg', caption: 'Juli', cols: 100},
        {img: '/media/groningerlandschap/gl-kalender-2019-08.jpg', caption: 'Augustus', cols: 100},
        {img: '/media/groningerlandschap/gl-kalender-2019-09.jpg', caption: 'September', cols: 100},
        {img: '/media/groningerlandschap/gl-kalender-2019-10.jpg', caption: 'Oktober', cols: 100},
        {img: '/media/groningerlandschap/gl-kalender-2019-11.jpg', caption: 'November', cols: 100},
        {img: '/media/groningerlandschap/gl-kalender-2019-12.jpg', caption: 'December', cols: 100}
      ]
    ] %}
    {% set galleryGrid_footnote = '' %}
    {% include 'components/components.gallery-grid.html' %}
    <!-- End Gallery -->

    <div class="l-single">
      <p><a class="c-button c-button--primary" href="/groningerlandschap-bestel.html">Bestel prints</a></p>
    </div>

  {% endcall %}

{% endblock %}
