{% extends 'layout/layout.base.html' %}

{% from 'components/components.wrapper.html' import wrapper %}

{% set page_title = 'Bestel je print' %}
{% set page_subtitle = '' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '/media/portfolio/aljanscholtens-21.jpg' %}
{% set page_thumbnail = '' %}
{% set navigation_selected = 'photography' %}

{% set header = false %} <!-- true is a large header, false is no header -->
{% set header_dark = false %}

{% block content %}

  {% if header == true %}
    {% include 'components/components.header.html' %}
  {% endif %}

  {% call wrapper() %}

    <div class="l-single">

      {% if header == false %}
        {% include 'components/components.header.html' %}
      {% endif %}

      <p class="c-paragraph c-paragraph--lead">Stel je eigen print samen van de Groninger Landschap kalender 2019 met &euro; 20 korting voor leden.</p>

      <p class="c-paragraph">De 13 foto's worden gedrukt op Fotospeed papier in de formaten A2, A3 en A4 en worden verstuurd met uitgebreide beschrijving en stevige verpakking. Na de bestelling ontvang je binnen 24 uur een betaalverzoek in je inbox, waarna de foto opgestuurd wordt.</p>

      <h2 class="c-heading">Kosten</h2>

      <ul class="c-list">
        <li>Print op A2: &euro; 75 (&euro; 55 voor leden)</li>
        <li>Print op A3: &euro; 65 (&euro; 45 voor leden)</li>
        <li>Print op A4: &euro; 55 (&euro; 35 voor leden)</li>
      </ul>

      <form action="https://formspree.io/aljan@scholtens.me" method="POST">

        <h2 class="c-heading">Stel je print samen</h2>

        <div class="c-form-field">
          <label class="c-form-field__label">Foto</label>
          <div class="c-form-field__input">
            <div class="c-form-select">
              <select name="foto">
                <option>Voorkant</option>
                <option>Januari</option>
                <option>Februari</option>
                <option>Maart</option>
                <option>April</option>
                <option>Mei</option>
                <option>Juni</option>
                <option>Juli</option>
                <option>Augustus</option>
                <option>September</option>
                <option>Oktober</option>
                <option>November</option>
                <option>December</option>
              </select>
            </div>
          </div>
        </div>

        <div class="u-clearfix">
          <div class="l-6">
            <div class="c-form-field">
              <label class="c-form-field__label">Papiergrootte</label>
              <div class="c-form-field__input">
                <div class="c-form-select">
                  <select name="papiergrootte">
                    <option>A2 witte rand</option>
                    <option>A2 randloos</option>
                    <option>A3 witte rand</option>
                    <option>A3 randloos</option>
                    <option>A4 witte rand</option>
                    <option>A4 randloos</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="l-6">
            <div class="c-form-field">
              <label class="c-form-field__label">Papiersoort</label>
              <div class="c-form-field__input">
                <div class="c-form-select">
                  <select name="papiersoort">
                    <option>Fine Art Mat met textuur (Alleen A2)</option>
                    <option>Fine Art Mat</option>
                    <option>Luster</option>
                  </select>
                </div>
              </div>
              <small class="c-form-field__description">Alle papiersoorten zijn van het merk Fotospeed</small>
            </div>
          </div>
        </div>


        <h2 class="c-heading">Persoonlijke gegevens</h2>

        <div class="u-clearfix">
          <div class="l-6">
            <div class="c-form-field">
              <label class="c-form-field__label">Naam</label>
              <div class="c-form-field__input">
                <input type="text" placeholder="" value="" name="name">
              </div>
              <small class="c-form-field__description">Voor- en achternaam</small>
            </div>
          </div>

          <div class="l-6">
            <div class="c-form-field">
              <label class="c-form-field__label">E-mail adres</label>
              <div class="c-form-field__input">
                <input type="email" placeholder="" value="" name="_replyto">
              </div>
              <small class="c-form-field__description">Je e-mail adres is nodig voor een betaalverzoek.</small>
            </div>
          </div>
        </div>

        <div class="u-clearfix">
          <div class="l-6">
            <div class="c-form-field">
              <label class="c-form-field__label">Straat &amp; huisnummer</label>
              <div class="c-form-field__input">
                <input type="text" placeholder="" value="" name="adres">
              </div>
            </div>
          </div>

          <div class="l-6">
            <div class="c-form-field">
              <label class="c-form-field__label">Postcode &amp; woonplaats</label>
              <div class="c-form-field__input">
                <input type="text" placeholder="" value="" name="postcode">
              </div>
            </div>
          </div>
        </div>

        <div class="c-form-field">
          <label class="c-form-field__label">Lidnummer Groninger Landschap (niet verplicht)</label>
          <div class="c-form-field__input">
            <input type="text" placeholder="" value="" name="lid">
          </div>
          <small class="c-form-field__description">Bij het invullen van je lidnummer ontvang je korting zoals aangegeven bovenaan de pagina.</small>

        </div>

        <div class="c-form-field">
          <label class="c-form-field__label">Opmerkingen</label>
          <div class="c-form-field__input">
            <textarea cols="50" rows="4" placeholder="" name="opmerkingen"></textarea>
          </div>
        </div>




        <input type="hidden" name="_format" value="plain" />
        <input type="hidden" name="_next" value="/groningerlandschap-bedankt.html" />
        <input type="hidden" name="_subject" value="GL print bestelling" />
        <input type="hidden" name="_language" value="nl" />

        <input class="c-button" type="submit" value="Bestel print">

      </form>

    </div>

  {% endcall %}

{% endblock %}
