{% extends 'layout/layout.empty.html' %}

{% from 'components/components.wrapper.html' import wrapper %}

{% set page_title = "Ik ben Aljan. Ik design interfaces en composeer landschapsfoto's" %}
{% set page_subtitle = '' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '/media/aljanscholtens-2.jpg' %}
{% set page_thumbnail = '' %}
{% set navigation_selected = '' %}

{% set header = false %} <!-- true is a large header, false is no header -->
{% set header_dark = true %}

{% block content %}

  {% if header == true %}
    {% include 'components/components.header.html' %}
  {% endif %}

  <nav class="c-navigation {% if header_dark == true %}c-navigation--dark{% endif %}">
    <a class="c-navigation__logo" href="/">aljan</a>
  </nav>

  <nav class="c-carousel">
    <a href="/landscape-photography" class="c-carousel__item c-carousel__item--first">
      <header class="c-carousel__body">
        <h1>Landscape <br/>photography</h1>
        <p>Hi there, I’m Aljan, a landscape photographer. I want to present you nature, the most peaceful place on earth.</p>
      </header>
      <div class="c-carousel__image" data-flickity-bg-lazyload="/assets/images/header-01.jpg"></div>
    </a>
    <a href="/groningerlandschap" class="c-carousel__item"">
      <header class="c-carousel__body">
        <h3>Calendar</h3>
        <p>Landscape calendar 2019</p>
      </header>
      <div class="c-carousel__image" data-flickity-bg-lazyload="/assets/images/header-04.jpg"></div>
    </a>
    <a href="/gallery" class="c-carousel__item"">
      <header class="c-carousel__body">
        <h3>Gallery</h3>
        <p>Favorite photographs</p>
      </header>
      <div class="c-carousel__image" data-flickity-bg-lazyload="/assets/images/header-08.jpg"></div>
    </a>
    <a href="/about" class="c-carousel__item"">
      <header class="c-carousel__body">
        <h3>About</h3>
        <p>Who am I?</p>
      </header>
      <div class="c-carousel__image" data-flickity-bg-lazyload="/assets/images/header-06.jpg"></div>
    </a>
    <a href="/workshops" class="c-carousel__item"">
      <header class="c-carousel__body">
        <h3>Workshops</h3>
        <p>Learn and grow</p>
      </header>
      <div class="c-carousel__image" data-flickity-bg-lazyload="/assets/images/header-05.jpg"></div>
    </a>
    <a href="/blog" class="c-carousel__item"">
      <header class="c-carousel__body">
        <h3>Blog</h3>
        <p>Notes about my projects</p>
      </header>
      <div class="c-carousel__image" data-flickity-bg-lazyload="/assets/images/header-07.jpg"></div>
    </a>
  </nav>

{% endblock %}
