{% extends 'layout/layout.base.html' %}

{% from 'components/components.wrapper.html' import wrapper %}

{% set page_title = 'I’m Aljan. I design interfaces and compose landscape photos.' %}
{% set page_subtitle = 'Occasionally I write about my dog, hiking and life.' %} <!-- Not required -->
{% set page_description = 'Description' %} <!-- Not required -->
{% set page_photo = '/assets/media/frontpage-2.jpg' %}
{% set page_thumbnail = '/assets/media/frontpage-2.jpg' %}
{% set navigation_selected = 'blog' %}

{% set header = true %} <!-- true is a large header, false is no header -->
{% set header_dark = true %}

{% block content %}

  {% if header == true %}
    {% include 'components/components.header.html' %}
  {% endif %}

  {% call wrapper('light') %}

    <div class="l-single">

      {% if header == false %}
        {% include 'components/components.header.html' %}
      {% endif %}

      <p class="c-paragraph c-paragraph--lead">Symbols by their ID elsewhere in the HTML. If we don't do this, Safari won't show the images. We'll include the SVG just after the body opening tag. This is necessery because we will get symbols by their ID elsewhere in the HTML. If we don't do this, Safari won't show the images.</p>
    </div>

    <div class="l-single-wide">

      {% set card_grid = [
        [
          {
            url: '/blog/article-1',
            title: 'Een trektocht door Noorwegen is in aantocht',
            content: 'I wanted to know if I could do the same amount of work in those 6 hours instead of my normal 9 hours. The reasoning was: if you have less time, you will probably work harder and get the same things done.',
            author: 'aljan',
            date: '17 april 2015',
            thumbnail: '/assets/media/1.jpg',
            caption: 'There was a lot of fog that day.'
          },
          {
            url: '/blog/blind-fontein',
            title: 'Blind: Fontein',
            content: 'Mijn vader links en mijn moeder rechts, ze ondersteunen me terwijl we met ons drieën een rondje door de grote hal aan de oostkant van het gebouw lopen. Ik hoor dat er mensen langslopen, maar voel me alleen. Alleen met mijn ouders. Zelfs schimmen zijn er niet. Een bord, heel dichtbij, we lopen langs een...',
            author: 'aljan',
            date: '5 September 2014',
            thumbnail: '',
            caption: ''
          },
          {
            url: '/blog/blind-erfenis',
            title: 'Blind: Erfenis',
            content: 'Inmiddels hebben 7 artsen (supervisoren) mijn ogen bekeken, maar niemand weet hoe het kan dat ik blind ben geworden. Speculaties, die zijn er genoeg, maar iets concreets? Nope. Terwijl ik de volgende supervisor te spreken krijg, heb ik weer volop hoop dat hij mij goed nieuws kan melden. Ik wil weer zien, ik wil mijn...',
            author: 'aljan',
            date: '3 September 2014',
            thumbnail: '',
            caption: ''
          },
          {
            url: '/blog/blind-broodje',
            title: 'Blind: Broodje',
            content: 'Ik word wakker nadat ik mijn eerste nacht in het UMCG heb doorgebracht. Binnen een half uur komt de zuster bij me langs, met mijn eerste ziekenhuis-ontbijt. Ik hoor dat ze met een lach mij goedemorgen wenst en zet een dienblad neer op het tafeltje die inmiddels over mijn bed zweeft. Na een bedankje pak...',
            author: 'aljan',
            date: '15 August 2014',
            thumbnail: '',
            caption: ''
          },
          {
            url: '/blog/blind-samenvatting',
            title: 'Blind: Samenvatting',
            content: 'Het is februari 2006 en ik ga bijna examen doen als 15-jarige aan het VMBO TL te Groningen. Langzaam word ik blind. Na een verkeerde diagnose van de huisarts en een dag veel onderzoeken in het ziekenhuis (bloedprikken, CT-scan, neurologisch onderzoek, ruggenprik) word ik naar huis gestuurd. Het is niet erg genoeg. Binnen drie dagen...',
            author: 'aljan',
            date: '13 August 2014',
            thumbnail: '',
            caption: ''
          }
        ]
      ] %}
      {% include 'components/components.card-grid.html' %}

    </div>

  {% endcall %}

{% endblock %}
