{% extends 'layout/layout.base.html' %}

{% from 'components/components.wrapper.html' import wrapper %}

{% set page_title = 'Designer' | safe %}
{% set page_subtitle = 'of <em>digital</em> products' | safe %} <!-- Not required -->
{% set page_description = 'Op zoek naar een designer die de waarom-vraag stelt, technisch meedenkt en prachtige producten maakt? Ik kan je helpen.' %} <!-- Not required -->
{% set page_photo = '/assets/images/header-10.jpg' %}
{% set page_socialimage = "https://aljanscholtens.nl/assets/images/header-10.jpg" %}
{% set page_thumbnail = '' %}
{% set navigation_selected = 'home' %}

{% set header = true %} <!-- true is a large header, false is no header -->
{% set header_studio = true %}
{% set header_title_gradient = false %}

{% block content %}

  {% if header == true %}
    {% include 'components/components.header.html' %}
  {% endif %}

<div class="l-wrapper ">

  <div class="l-container">

    <div class="l-single u-content">

      {% if header == false %}
        {% include 'components/components.header.html' %}
      {% endif %}

      <!-- <p class="c-paragraph c-paragraph--lead">I might be a designer of digital products.</p> -->

      <h2 class="c-heading c-heading--30">What am I doing?</h2>
      <ul class="c-list">
        <li>Raising my one year old son!</li>
        <li>Setting up <a href="https://studiowolf.com/">Studio Wolf v2</a> with <a href="http://twitter.com/timsluis">Tim Sluis</a>. We're creators of digital products with data driven maps at the heart. Pretty excited!</li>
        <li>Together with <a href="https://www.instagram.com/ervandam/">Ernstjan van Dam</a> I started a Dutch podcast called <a href="https://anchor.fm/themediators">The Mediators</a>, it's about how our world is changing for the better. We're on hold because of personal reasons.</li>
        <li>Organizing a very cool meetup called <a href="http://meetup.com/refresh-groningen">Refresh</a> together with <a href="https://twitter.com/ronvandegraaf">Ron van de Graaf</a>, it's for designers and front-end developers. Because of the circumstances no meetups at the moment.</li>
        <li>Working on a book with my best <a href="/gallery">landscape photos</a>. I expect to finish it in Q1 of 2021.</li>
        <li>Creating videos on my <a href="https://www.youtube.com/aljanscholtens">Youtube Channel</a>.</li>
        <li>Regularly posting landscape photos to <a href="https://instagram.com/aljan">Instagram</a>.</li>
        <li>Posting photos of our <a href="http://www.instagram.com/munsterlandernikki/">Small Münsterländer Nikki</a> on Instagram, she is sweet, stubborn and enthusiastic!</li>
        <li>Psst, I created the most hidden podcast in the world, only mentioned on this page. It's called <a href="https://anchor.fm/veerenfictie">Veer & Fictie</a>, and I tell in Dutch my fiction drafts.
      </ul>

      <p class="c-paragraph c-paragraph--soft">Last update on 18 January 2021. The now page is inspired by <a href="http://nownownow.com/">Nownownow</a>.</p>

      <h2 class="c-heading c-heading--30">I’m currently interested in writing and speaking about</h2>
      <ul class="c-list">
        <li>Map Design</li>
        <li>Design Systems</li>
        <li>Landscape Photography</li>
        <li>The Calm Life &amp; Company</li>
      </ul>

      <p class="c-paragraph">Want to know more? <a href="/contact">Contact me</a>.</p>

    </div>

  </div>

</div>

{% endblock %}
