{% extends 'layout/layout.base.html' %}

{% from 'components/components.wrapper.html' import wrapper %}

{% set page_title = 'What I do' %}
{% set page_subtitle = '' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '/assets/images/header-01.jpg' %}
{% set page_thumbnail = '' %}
{% set navigation_selected = 'landscape-photography' %}

{% set header = true %} <!-- true is a large header, false is no header -->
{% set header_dark = true %}

{% block content %}

  {% if header == true %}
    {% include 'components/components.header.html' %}
  {% endif %}

  {% call wrapper() %}

    <div class="l-single">

      {% if header == false %}
        {% include 'components/components.header.html' %}
      {% endif %}

      <p class="c-paragraph c-paragraph--lead">I'm a creator, I like to tell a story with photos of landscapes. TODO</p>

      <h2 class="c-heading c-heading--30">Projects</h2>
      <p>For clients I have been working on great projects. Recently I worked together with 'Het Groninger Landschap' to create <a href="/groningerlandschap">their calendar</a> of 2019. I can help set up a project, create a fantastic concept and shoot amazing photos. Want to meet and talk about a project? Just give me <a href="/contact">a call</a> or send me an <a href="/contact">e-mail</a>.</p>

      <p><img width="280" style="display:block;" src="/assets/images/het-groninger-landschap.png"></p>

      <blockquote class="c-blockquote">
        <p>Vanuit het Groninger Landschap zochten we een fotograaf die ons kon helpen met de kalender van 2019. Die hebben we gevonden in Aljan en hij heeft ons geholpen mee te denken over het concept en heeft ruim op tijd 13 prachtige foto’s gepresenteerd. Hij is nauw betrokken bij het drukproces en spreekt vervolgens met passie over de kalender tijdens ons jaarlijkse event voor beschermers. Erg fijn om met Aljan samen te werken!</p>
        <cite>Ellen Bos, Het Groninger Landschap</cite>
      </blockquote>

      <h2 class="c-heading c-heading--30">Creating a book</h2>
      <p>One of my dreams is to create a book, and that's what I'm working on right now. It will be a landscape photography book about the 'Hondsrug', an Unesco area in the Netherlands. It's a project I will be taking the time for, but expect updates on <a href="https://instagram.com/aljan">my instagram</a>.</p>

    </div>

      <!-- Gallery -->
      {# {% set gallery_gutter = 'large' %} #}
      {% set galleryGrid = [
        [
          {img: '/assets/images/landscape-photography-01.jpg', caption: '', cols: 100},
          {img: '/assets/images/landscape-photography-02.jpg', caption: '', cols: 100},
          {img: '/assets/images/landscape-photography-03.jpg', caption: '', cols: 100}
        ]
      ] %}
      {% set galleryGrid_footnote = '' %}
      {% include 'components/components.gallery-grid.html' %}
      <!-- End Gallery -->

    <div class="l-single">

      <!-- LATER: **Meetup & podcast** -->

      <!-- LATER: **Workshops** -->

      <h2 class="c-heading c-heading--30">Prints</h2>
      <p>In <a href="/gallery">my gallery</a> I showcase what are in my opinion my best landscape photos and they are available as prints. If you're interested in a print I will make sure it will be printed at the highest quality possible on fotospeed heavy fine art paper. And if you choose to buy one of my photos, I will be very grateful, because a print in someones home is the best thing there is.</p>

      <h2 class="c-heading c-heading--30">Youtube Channel & Instagram</h2>
      <p>I wanted to overcome my own fears of standing in front of the camera, so recently I started a <a href="https://www.youtube.com/channel/UCwrT63nbIvFbh2PSV8IkcPQ">Youtube channel</a> about landscape photography. I want to share my adventures and experience, but most of all what creating can bring to us.</p>

      <p>I also post regularly photos on  <a href="https://instagram.com/aljan">Instagram</a>.</p>

    </div>

  {% endcall %}

{% endblock %}
