{% extends 'layout/layout.base.html' %}

{% from 'components/components.wrapper.html' import wrapper %}

{% set page_title = 'What I do in landscape photography' %}
{% set page_subtitle = '' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '/assets/images/header-01.jpg' %}
{% set page_thumbnail = '' %}
{% set navigation_selected = 'landscape-photography' %}

{% set header = true %} <!-- true is a large header, false is no header -->
{% set header_dark = true %}

{% block content %}

  {% if header == true %}
    {% include 'components/components.header.html' %}
  {% endif %}

  {% call wrapper() %}

    <div class="l-single">

      {% if header == false %}
        {% include 'components/components.header.html' %}
      {% endif %}

      <p class="c-paragraph c-paragraph--lead">I'm a <a href="/about">landscape photographer</a> based in Groningen, The Netherlands. I'm setting up photography projects for clients, creating a book, organizing workshops and starting a Youtube Channel.</p>

      <h2 class="c-heading c-heading--30">Projects</h2>
      <p>For clients I have been working on great projects. Recently I worked together with 'Het Groninger Landschap' to create <a href="/groningerlandschap">their calendar</a> of 2019. I can help set up a project, create a fantastic concept and shoot amazing photos. Want to meet and talk about a project? Just give me <a href="/contact">a call or send me an e-mail</a>.</p>

      <p><img width="280" style="display:block;" src="/assets/images/het-groninger-landschap.png"></p>

      <blockquote class="c-blockquote">
        <p>As marketeer of ‘Het Groninger Landschap’ we worked together with landscape photographer Aljan for our 2019 calendar. He helped us with the concept of the calendar and presented 13 beautiful photos which represents the landscape very well. He is closely involved with the landscape managers and the print process. With passion he spoke about the calendar during our yearly event. It’s a pleasure to work with Aljan!</p>
        <cite>Ellen Bos, Het Groninger Landschap</cite>
      </blockquote>

    </div>

    <!-- Gallery -->
    {# {% set gallery_gutter = 'large' %} #}
    {% set galleryGrid = [
      [
        {img: '/media/groningerlandschap/gl-kalender-2019-01.jpg', caption: '', cols: 100},
        {img: '/media/groningerlandschap/gl-kalender-2019-07.jpg', caption: '', cols: 100},
        {img: '/media/groningerlandschap/gl-kalender-2019-front.jpg', caption: '', cols: 100}
      ]
    ] %}
    {% set galleryGrid_footnote = '' %}
    {% include 'components/components.gallery-grid.html' %}
    <!-- End Gallery -->

    <div class="l-single">

      <h2 class="c-heading c-heading--30">Creating a book</h2>
      <p>One of my dreams is to create a book, and that's what I'm working on right now. It will be a landscape photography book about the 'Hondsrug', an Unesco area in the Netherlands. This is a project which I won't be rushing, but you can expect updates on <a href="https://instagram.com/aljan">my instagram</a>.</p>

    </div>

    <!-- Gallery -->
    {# {% set gallery_gutter = 'large' %} #}
    {% set galleryGrid = [
      [
        {img: '/assets/images/landscape-photography-01.jpg', caption: '', cols: 100},
        {img: '/assets/images/landscape-photography-02.jpg', caption: '', cols: 100},
        {img: '/assets/images/landscape-photography-03.jpg', caption: '', cols: 100}
      ]
    ] %}
    {% set galleryGrid_footnote = '' %}
    {% include 'components/components.gallery-grid.html' %}
    <!-- End Gallery -->

    <div class="l-single">

      <h2 class="c-heading c-heading--30">Workshops</h2>
      <p>Would you like to learn more about landscape and nature photograpy? You're in luck, because currently I'm setting up a recurring workshop. Every two months we will go to a different area and you can join whenever you want to. I will give you individual tips on your own level. If you're interested, <a href="mailto:aljan@scholtens.me">send me an e-mail</a> and I will keep you notified when it's ready.</p>

      <p>Custom workshops can always <a href="mailto:aljan@scholtens.me">be requested</a>. For instance an one-on-one workshop to dive deep on your individual skills or maybe a teambuilding workshop for a group.</p>

    </div>

    <!-- Gallery -->
    {% set gallery = [
      [
        {img: '/assets/images/landscape-photography-04.jpg', caption: 'Photo by Mark Vletter', cols: 50},
        {img: '/assets/images/landscape-photography-05.jpg', caption: '', cols: 50}
      ]
    ] %}
    {% set gallery_footnote = '' %}
    {% include 'components/components.gallery.html' %}
    <!-- End Gallery -->

    <div class="l-single">

      <h2 class="c-heading c-heading--30">Prints</h2>
      <p>In <a href="/gallery">my gallery</a> I showcase what are in my opinion my best landscape photos and they are available as prints. If you're interested in a print I will make sure it will be printed at the highest quality possible on Fotospeed heavy fine art paper. And if you choose to buy one of my photos, I will be very grateful, because a print in someones home is the best thing there is.</p>

      <h2 class="c-heading c-heading--30">Youtube Channel & Instagram</h2>
      <p>I wanted to overcome my own fears of standing in front of the camera, so recently I started a <a href="https://www.youtube.com/channel/UCwrT63nbIvFbh2PSV8IkcPQ">Youtube channel</a> about landscape photography. I want to share my adventures and experience, but most of all what creating can bring to us.</p>

      <p>I also post regularly photos on  <a href="https://instagram.com/aljan">Instagram</a>.</p>

      <h2 class="c-heading c-heading--30">Speaking</h2>
      <p>In need of someone who can tell a good story about landscape photography? I can teach about some advanced photography stuff, the art of seeing and setting up a photography business. <a href="mailto:aljan@scholtens.me">Let's talk</a>.</p>



    </div>



  {% endcall %}

{% endblock %}
