{% extends 'layout/layout.base.html' %}

{% from 'components/components.wrapper.html' import wrapper %}

{% set page_title = 'Now' %}
{% set page_subtitle = '' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '/assets/images/header-05.jpg' %}
{% set page_thumbnail = '' %}
{% set navigation_selected = 'now' %}

{% set header = true %} <!-- true is a large header, false is no header -->
{% set header_dark = true %}

{% block content %}

  {% if header == true %}
    {% include 'components/components.header.html' %}
  {% endif %}

  {% call wrapper() %}

    <div class="l-single">

      <p class="c-paragraph c-paragraph--lead">This is the page which get regular updates about the things I'm doing right now.</p>

      <p class="c-paragraph c-paragraph--soft">Last update on 13th November 2019. The now page is inspired by <a href="http://nownownow.com/">Nownownow</a>.</p>

      <h2 class="c-heading c-heading--30">Photography</h2>
      <ul class="c-list">
        <li>Currently I'm mainly a digital product designer with a focus on art direction and design systems, <a href="/design">read more in Dutch</a>.</li>
        <li>Setting up my tiny side business as a landscape photographer, I started on the 1th of December 2018.</li>
        <li>Together with <a href="https://www.instagram.com/ervandam/">Ernstjan van Dam</a> I started a Dutch podcast called <a href="https://anchor.fm/themediators">The Mediators</a>, it's about how our world is changing for the better.</li>
        <li>Organizing a very cool meetup called <a href="http://meetup.com/refresh-groningen">Refresh</a> together with <a href="https://twitter.com/ronvandegraaf">Ron van de Graaf</a>, it's for designers and front-end developers.</li>
        <li>Creating videos on my <a href="https://www.youtube.com/aljanscholtens">Youtube Channel</a>.</li>
        <li>Working on a new design for the upcoming international website of the awesome company <a href="https://voys.nl/">Voys</a>.
        <li>Designing things for <a href="https://mobinoord.nl/">MobiNoord</a>, a company to set up a network of electric sharing cars.</li>
        <li>Opened an <a href="https://www.etsy.com/shop/aljanscholtens">Etsy shop</a> where you can buy prints of my landschape photos.</li>
        <li>Regularly posting landscape photos to <a href="https://instagram.com/aljan">Instagram</a>.</li>
        <li>Posting photos of our <a href="http://www.instagram.com/munsterlandernikki/">Small Münsterländer Nikki</a> on Instagram, she is sweet, stubborn and enthusiastic!</li>
        <li>Preparing the next hike with friends this summer in Austria. Watch a video of our <a href="https://www.youtube.com/watch?v=yY4lhMk03uw">hike in the Dolomites, Italy</a> last year.</li>
        <li>Formerly owner of the design agency <a href="http://studiowolf.com/">Studio Wolf</a> together with <a href="http://twitter.com/timsluis">Tim Sluis</a>.</li>
        <li>Psst, I created the most hidden podcast in the world, only mentioned on this page. It's called <a href="https://anchor.fm/veerenfictie">Veer & Fictie</a>, and I tell in Dutch my fiction drafts.
      </ul>

      <h2 class="c-heading c-heading--30">I’m currently interested in writing and speaking about</h2>
      <ul class="c-list">
        <li>Design Systems</li>
        <li>Landscape Photography</li>
        <li>Slowing down as a human being</li>
      </ul>

      <p>You can contact me at <a href="mailto:aljan@scholtens.me">aljan@scholtens.me</a>.</p>

    </div>

  {% endcall %}

{% endblock %}
