{% extends 'layout/layout.base.html' %}

{% from 'components/components.wrapper.html' import wrapper %}

{% set page_title = 'Photography' %}
{% set page_subtitle = '' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '/media/1.jpg' %}
{% set page_thumbnail = 'http://www.aljanscholtens.nl/raw/media/_MG_1277.jpg' %}
{% set navigation_selected = 'photography' %}

{% set header = false %} <!-- true is a large header, false is no header -->
{% set header_dark = false %}

{% block content %}

  {% if header == true %}
    {% include 'components/components.header.html' %}
  {% endif %}

  {% call wrapper() %}

    <div class="l-single">

      {% if header == false %}
        {% include 'components/components.header.html' %}
      {% endif %}

      <p class="c-paragraph c-paragraph--lead">At the age of 15 I started taking photos with an old Pentax SLR from my father. Soon after that I bought my first DSLR, within a few years my interest in landscape photography grew and especially 2015 was the start of much more landscape photography.</p>

      <p>Most of the time I'm taking photos in the Netherlands and frequently I travel to other countries. I always bring my Canon 6D, Canon 24mm F2.8 IS USM, Canon 70-200mm F4L IS USM, Induro CLT303L tripod, Nisi Filters and my dog Nikki.</p>

      <p>If you want to hire me, contact me at <a href="mailto:aljan@scholtens.me" target="_blank">aljan@scholtens.me</a>.</p>

    </div>

    <!-- Gallery -->
    {% set gallery = [
      [
        {img: '/media/portfolio/aljanscholtens-14.jpg', caption: '', cols: 100},
        {img: '/media/portfolio/aljanscholtens-22.jpg', caption: '', cols: 100},
        {img: '/media/portfolio/aljanscholtens-4.jpg', caption: '', cols: 100},
        {img: '/media/portfolio/aljanscholtens-21.jpg', caption: '', cols: 100},
        {img: '/media/portfolio/aljanscholtens-10.jpg', caption: '', cols: 100},
        {img: '/media/portfolio/aljanscholtens-20.jpg', caption: '', cols: 100},
        {img: '/media/portfolio/aljanscholtens-19.jpg', caption: '', cols: 100},
        {img: '/media/portfolio/aljanscholtens-16.jpg', caption: '', cols: 100},
        {img: '/media/portfolio/aljanscholtens-13.jpg', caption: '', cols: 100},
        {img: '/media/portfolio/aljanscholtens-12.jpg', caption: '', cols: 100},
        {img: '/media/portfolio/aljanscholtens-17.jpg', caption: '', cols: 100},
        {img: '/media/portfolio/aljanscholtens-7.jpg', caption: '', cols: 100},
        {img: '/media/portfolio/aljanscholtens-6.jpg', caption: '', cols: 100},
        {img: '/media/portfolio/aljanscholtens-3.jpg', caption: '', cols: 100},
        {img: '/media/portfolio/aljanscholtens-2.jpg', caption: '', cols: 100},
        {img: '/media/portfolio/aljanscholtens-18.jpg', caption: '', cols: 100},
        {img: '/media/portfolio/aljanscholtens-11.jpg', caption: '', cols: 100},
        {img: '/media/portfolio/aljanscholtens-9.jpg', caption: '', cols: 100},
        {img: '/media/portfolio/aljanscholtens-1.jpg', caption: '', cols: 100}
      ]
    ] %}
    {% set gallery_footnote = '' %}
    {% include 'components/components.gallery.html' %}
    <!-- End Gallery -->

  {% endcall %}

{% endblock %}
