{% extends 'layout/layout.base.html' %}

{% from 'components/components.wrapper.html' import wrapper %}

{% set page_title = 'Workshops' %}
{% set page_subtitle = '' %} <!-- Not required -->
{% set page_description = '' %} <!-- Not required -->
{% set page_photo = '/assets/images/header-05.jpg' %}
{% set page_thumbnail = '' %}
{% set navigation_selected = 'design' %}

{% set header = true %} <!-- true is a large header, false is no header -->


{% block content %}

  {% if header == true %}
    {% include 'components/components.header.html' %}
  {% endif %}

  {% call wrapper() %}

    <div class="l-single">

      {% if header == false %}
        {% include 'components/components.header.html' %}
      {% endif %}

      <p class="c-paragraph c-paragraph--lead">Introduction</p>

      <p>About workshops.</p>

    </div>

  {% endcall %}

{% endblock %}
