{{ $footnote := .Get "footnote" }}
</div>
<div class="c-photos-wrapper">
  <ul class="c-photos">
    {{- range $index, $line := split .Inner "\n" -}}
      {{- $lineClean := trim $line " \t\r\n" -}}
      {{- if ne $lineClean "" -}}
        {{- $parts := split $lineClean "|" -}}
        
        {{- $img := trim (index $parts 0) " " -}}
        {{- $caption := "" -}}
        {{- if ge (len $parts) 2 -}}
          {{- $caption = trim (index $parts 1) " " -}}
        {{- end -}}

        <li class="c-photos__item">
          <a data-fancybox="gallery" href="{{ $img }}">
            <img class="js-lazy" data-original="{{ $img }}" />
            {{ if $caption }}
              <small class="c-photos__caption">{{ $caption }}</small>
            {{ end }}
          </a>
        </li>
      {{- end -}}
    {{- end -}}
  </ul>

  {{ with $footnote }}
    <div class="l-single c-photos__footnote">
      <p>
        <small><strong>Notitie</strong>: {{ . }}</small>
      </p>
    </div>
  {{ end }}
</div>
<div class="l-single u-content">
