<form
  action="https://formspree.io/f/xzzykojl"
  method="POST"
  class="c-form"
>
  <div class="c-form-field">
    <label>
      <div class="c-form-field__label">Aantal</div>
      <div class="c-form-field__input"><input type="number" name="aantal"></div>
    </label>
  </div>

  <div class="c-form-field">
    <label>
      <div class="c-form-field__label">Naam</div>
      <div class="c-form-field__input"><input type="text" name="naam"></div>
    </label>
  </div>

  <div class="c-form-field">
    <label>
      <div class="c-form-field__label">E-mail</div>
      <div class="c-form-field__input"><input type="email" name="email"></div>
    </label>
  </div>

  <div class="c-form-field">
    <label>
      <div class="c-form-field__label">Straat &amp; huisnummer</div>
      <div class="c-form-field__input"><input type="text" name="straat"></div>
    </label>
  </div>

  <div class="c-form-field">
    <label>
      <div class="c-form-field__label">Postcode &amp; plaats</div>
      <div class="c-form-field__input"><input type="text" name="postcode"></div>
    </label>
  </div>

  <!-- <div class="c-form-field">
    <label>
      <div class="c-form-field__label">Naam</div>
      <div class="c-form-field__input"><textarea name="message"></textarea></div>
    </label>
  </div> -->
  <button class="c-button" type="submit">Boek aanvragen</button>
</form>