/*------------------------------------*\
  #COMPONENTS-PARAGRAPH
\*------------------------------------*/

p,
.c-paragraph,
.u-content p {
  line-height: var(--line-height-default);
  margin: var(--space-stack-default);
  font-size: var(--font-size-40);
  color: var(--color-neutral-90);
}

.c-paragraph--lead,
.u-content .c-paragraph--lead {
  color: var(--color-primary-50);
  font-family: var(--font-family-b);

  @media (--breakpoint-20) {
    font-size: var(--font-size-60);
    line-height: 1.75em;
  }
}

.c-paragraph--soft,
.u-content .c-paragraph--soft {
  color: var(--color-neutral-50);
  font-size: var(--font-size-default);
}



@keyframes c-paragraph--animation {

  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.c-paragraph--animation {

  @media (--breakpoint-20) {
    opacity: 0;
    animation: c-paragraph--animation 600ms cubic-bezier(0, 0, 0, 1) forwards 200ms;
  }
}
