/*------------------------------------*\
  #COMPONENTS-HEADER
\*------------------------------------*/

.c-header {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--color-primary-90);

  @media (--breakpoint-20) {
    min-height: 800px;
    max-height: 900px;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 200px;
    background-image: linear-gradient(180deg, color-mod(var(--color-primary-90) alpha(80%)), transparent);
    mix-blend-mode: multiply;
    z-index: 2;
  }
}


.c-header--studio {

  &:before {
    display: none;
  }

  & .c-header__image {

    @media (--breakpoint-40) {
      background-size: 1300px auto;
      background-position: center bottom;
      opacity: 1;
    }
  }
}






.c-header__content {
  position: relative;
  z-index: 2;
  padding-bottom: 3rem;
  padding-top: 20rem;
  width: 100%;
  background-image: linear-gradient(180deg, transparent 40%, var(--color-primary-90) 100%);
}

.c-header__body {
  max-width: 700px;
  margin: auto;
}


@keyframes c-header__title {

  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.c-header__title {
  text-align: center;
  padding-bottom: 16px;
  font-family: var(--font-family-b);
  line-height: 1em;
  font-weight: 400;
  font-size: 70px;
  margin: var(--space-stack-30);
  background: linear-gradient(180deg, #FFF2DC, #FFDCA2);

  background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (--breakpoint-20) {
    margin: var(--space-stack-40);
    font-size: 100px;
    opacity: 0;
    animation: c-header__title 1000ms cubic-bezier(0, 0, 0, 1) forwards 800ms;
  }
}

.c-header__title--gradient {
  background: linear-gradient(180deg, #FFDCA2 -20%, transparent 90%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


@keyframes c-header__subtitle {

  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.c-header__subtitle {
  color: var(--color-white);
  text-align: center;
  font-size: 30px;
  line-height: 1.3em;

  @media (--breakpoint-20) {
    font-size: 40px;
    opacity: 0;
    animation: c-header__subtitle 1000ms cubic-bezier(0, 0, 0, 1) forwards 900ms;
  }

  & em {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    font-style: normal;
    display: inline-block;
    font-family: var(--font-family-c);
    transform: scale(1.15) translateY(2px);
    color: var(--color-primary-30);
  }
}



@keyframes c-header-image-a {

  0% {
    filter: grayscale(1);
  }

  100% {
    filter: grayscale(0);
  }
}

@keyframes c-header-image-b {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.c-header__image {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  mix-blend-mode: lighten;
  /* background-color: var(--color-primary-90);
  background-blend-mode: lighten; */
  /* opacity: 0.8; */

  @media (--breakpoint-20) {
    filter: grayscale(1);
    opacity: 0;
    animation: c-header-image-a 2s linear forwards 500ms, c-header-image-b 500ms forwards ease-out;
  }
}
