/*------------------------------------*\
  #COMPONENTS-LOGO_GRID
\*------------------------------------*/

.c-logo-grid {
  list-style: none;
  margin: var(--space-stack-default);
  display: flex;
  flex-flow: row wrap;
}

.c-logo-grid__item {
  display: flex;
  padding: var(--spacing);
  border-bottom: 1px solid var(--color-neutral-10);
  lost-column: 1/2 auto 0;
  border-bottom: 0;

  &:last-of-type {
    border-bottom: 0;
  }

  &:nth-child(2n+1) {
    border-right: 1px solid var(--color-neutral-10);
  }

  &:nth-child(1n+3) {
    border-top: 1px solid var(--color-neutral-10);
  }

  @media (--breakpoint-30) {
    lost-column: 1/4 auto 0;
    border-right: 1px solid var(--color-neutral-10);

    /* Reset previous breakpoint borders */
    &:nth-child(1n+3) { border-top: 0; }

    /* Set new borders */
    &:nth-child(1n+5) {
      border-top: 1px solid var(--color-neutral-10);
    }

    &:nth-child(4n+4) {
      border-right: 0;
    }
  }

  & img {
    margin: auto;
    width: auto;
    height: auto;
    max-width: 8rem;
    max-height: 6rem;
  }
}
