/*------------------------------------*\
  #COMPONENTS-LIST
\*------------------------------------*/

.c-list {
  list-style: none;
  font-size: var(--font-size-40);
  color: var(--color-neutral-90);
  line-height: var(--line-height-30);
  margin: var(--space-stack-default);

  & li {
    padding-left: 2rem;
    position: relative;

    @media (--breakpoint-20) {
      padding-left: 3rem;
    }

    &:before {
      position: absolute;
      left: 0.5rem;
      content: " ";

      @media (--breakpoint-20) {
        left: 1.5rem;
      }
    }
  }
}

.t-dark .c-list {
  color: var(--color-white);
}

ul.c-list {

  & li:before {
    top: 0.8rem;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: var(--color-primary-50);
  }
}

.l-wrapper--neutral-70 .c-list li:before {
  background: var(--color-primary-30);
}

ol.c-list {

  & li {
    counter-increment: list__counter;

    &:before {
      content: counter(list__counter)".";
    }
  }
}
