/*------------------------------------*\
  #COMPONENTS-HEADING
\*------------------------------------*/

.c-heading a {
  background-color: transparent;
  padding: 0;
}

.c-heading,
.u-content h2 {
  font-family: var(--font-family-a);
  font-weight: 600;
  margin: var(--space-stack-30);
  padding-top: 8px;
  color: var(--color-primary-50);
  line-height: var(--line-height-10);
}

.c-heading--10,
.u-content h3 {
  font-size: 22px;
  line-height: 1.35em;
}

.c-heading--30,
.u-content h2 {
  font-size: var(--font-size-60);
  line-height: 1.2em;
  font-family: var(--font-family-a);
  color: var(--color-primary-50);
  font-weight: 500;
}

.t-dark .c-heading--30,
.t-dark .u-content h2 {
  color: var(--color-primary-30);
}

.c-heading--50 {
  font-family: var(--font-family-b);
  font-size: 40px;
  font-weight: 300;

  @media (--breakpoint-20) {
    font-size: 8vw;
    margin: var(--space-stack-default);
  }

  @media (--breakpoint-30) {
    font-size: var(--font-size-70);
  }
}

.t-dark .c-heading--50 {
  color: var(--color-primary-30);
}



@keyframes c-heading--animation {

  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.c-heading--animation {

  @media (--breakpoint-20) {
    opacity: 0;
    animation: c-heading--animation 600ms cubic-bezier(0, 0, 0, 1) forwards 200ms;
  }
}
