/*------------------------------------*\
  #COMPONENTS-CARDS
\*------------------------------------*/

.c-card-grid {
  margin: 0;
  margin: var(--space-stack-default);
  list-style: none;

  @media (--breakpoint-20) {
    display: grid;
    grid-column-gap: var(--space-default);
    grid-template-columns: 1fr 1fr;
  }

  @media (--breakpoint-30) {
    display: block;
  }

  & > li {
    margin: var(--space-stack-30);

    @media (--breakpoint-30) {
      margin: var(--space-stack-default);
    }
  }
}





.c-card {
  background: var(--color-white);
  border-radius: var(--border-radius-10);
  box-shadow: var(--box-shadow-30);
  overflow: hidden;
  margin: var(--space-stack-default);
  width: 100%;
  display: flex;
  flex-flow: column nowrap;

  @media (--breakpoint-30) {
    flex-flow: row nowrap;
  }
}





.c-card__content {
  flex: 5;
  padding: var(--space-inset-default);

  @media (--breakpoint-30) {
    padding: var(--space-inset-50);
  }
}


.c-card--image {
  display: flex;
}


.c-card__image {
  flex: 4;
  position: relative;
  overflow: hidden;

  &:hover img {
    transform: scale(1.1);
  }

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    transition: transform 1s var(--bezier-default);
  }

  & figcaption {
    position: absolute;
    z-index: var(--layer-10);
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 1.5em;
    padding: 0.5rem 0.75rem;
    padding-top: 4.5rem;
    font-weight: 400;
    font-family: var(--font-family-c);
    color: color-mod(var(--color-white) alpha(0.75));
    font-size: var(--font-size-30);

    &:after {
      content: " ";
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
      right: 0;
      height: 50%;
      background-image: linear-gradient(180deg, transparent, color-mod(var(--color-black) alpha(0.4)));
    }
  }

  & a {
    position: absolute;
    z-index: var(--layer-10);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    padding: 0;
  }
}





.c-card__meta {
  display: flex;
  align-items: center;

  & figure {
    height: 3rem;
    width: 3rem;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    margin-right: var(--space-30);
  }

  & a {
    color: var(--color-neutral-70);
    text-decoration: none;
    background-color: transparent;
    padding: 0;
  }
}
