/*------------------------------------*\
  #COMPONENTS-MOBILE
\*------------------------------------*/

.c-navigation-mobile__wrapper {
  position: fixed;
  z-index: var(--layer-30);
  left: 6px;
  right: 6px;
  bottom: 0;
  font-weight: 600;
  font-family: var(--font-family-heading);
  background: color-mod(var(--color-primary-50) alpha(0.95));

  /* &:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1rem;
    background: linear-gradient(90deg, transparent, var(--color-primary-50));
  }

  &:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1rem;
    background: linear-gradient(-90deg, transparent, var(--color-primary-50));
  } */
}

.c-navigation-mobile {
  list-style: none;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;

  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;

  @media (--breakpoint-20) {
    display: none;
  }
}

.c-navigation-mobile__item {
  float: left;
  position: relative;
  flex-grow: 1;
  text-align: center;
  /* font-size: var(--font-size-20); */


  @media (--breakpoint-10) {
    font-size: var(--font-size-30);
  }

  & a {
    color: var(--color-white);
    text-decoration: none;
    display: block;
    font-weight: 400;
    padding: 1rem 1rem;

    &:hover { color: var(--color-white); }
  }

  & svg {
    width: 1rem;
    height: 1rem;
    position: relative;
    top: 3px;
    fill: var(--color-white);
  }
}
