/*------------------------------------*\
  #COMPONENTS-NAVIGATION
\*------------------------------------*/

@keyframes c-navigation {

  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

html.home .c-navigation {
  position: fixed;
}

.c-navigation {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-left: 6px;
  padding-right: 6px;
  background: transparent;
  position: absolute;
  z-index: var(--layer-30);
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0px 1px 20px color-mod(var(--color-black) alpha(0.1));
  box-shadow: var(--box-shadow-30);

  @media (--breakpoint-20) {
    justify-content: auto;
  }
}

.c-navigation--dark {
  box-shadow: 0 0 0;
  border: 0;

  & .c-navigation__item a {
    color: color-mod(var(--color-white) alpha(0.7));

    &:hover {
      color: color-mod(var(--color-white) alpha(0.5));
    }
  }

  & .c-navigation__item.c-navigation__item--selected a {
    color: var(--color-white);
  }
}

.c-navigation__logo {
  display: block;
  text-decoration: none;
  padding: var(--space-default);
  padding-top: var(--space-40);
  margin-bottom: 4px;
  line-height: 1;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--color-white);
  transition: background 60ms ease-out;
  background: linear-gradient(140deg, color-mod(var(--color-primary-50) alpha(70%)), var(--color-primary-50));
  font-family: var(--font-family-d);
  margin-right: 0;

  @media (--breakpoint-20) {
    margin-right: 1rem;
    opacity: 0;
    animation: c-navigation 300ms cubic-bezier(0, 0, 0, 1) forwards 200ms;
  }

  &:hover {
    color: color-mod(var(--color-white) alpha(80%));
  }
}


.c-navigation__items {
  list-style: none;
  margin: 0;
  flex: auto;
  display: none;

  @media (--breakpoint-20) {
    display: flex;
  }
}


.c-navigation__item {

  @media (--breakpoint-20) {
    opacity: 0;
    animation: c-navigation 300ms cubic-bezier(0, 0, 0, 1) forwards;

    &:nth-child(1) {
      animation-delay: 300ms;
    }

    &:nth-child(2) {
      animation-delay: 400ms;
    }

    &:nth-child(3) {
      animation-delay: 500ms;
    }

    &:nth-child(4) {
      animation-delay: 600ms;
    }

    &:nth-child(5) {
      animation-delay: 700ms;
    }

    &:nth-child(6) {
      animation-delay: 800ms;
    }
  }

  &.c-navigation__item--selected a {
    color: var(--color-neutral-70);
  }

  & a {
    color: var(--color-neutral-50);
    font-family: var(--font-family-heading);
    display: flex;
    line-height: 1;
    padding: 0.75rem 0.75rem 0.8rem 0.75rem;
    margin: var(--space-20);
    text-decoration: none;
    letter-spacing: 1.5px;
    font-weight: 400;

    &:hover {
      color: var(--color-neutral-70);
    }
  }
}
