/*------------------------------------*\
  #FONTS
\*------------------------------------*/

@font-face {
  font-family: "Orkney";
  font-weight: 400;
  src: url('../fonts/orkney_regular.woff2') format("woff2");
}

@font-face {
  font-family: "Orkney";
  font-weight: 500;
  src: url('../fonts/orkney_medium.woff2') format("woff2");
}

@font-face {
  font-family: "Orkney";
  font-weight: 700;
  src: url('../fonts/orkney_bold.woff2') format("woff2");
}

@font-face {
  font-family: "Lora";
  font-weight: 400;
  src: url('../fonts/lora_regular.woff2') format("woff2");
}

@font-face {
  font-family: "Stellar";
  font-weight: 300;
  src: url('../fonts/stellar_light.woff2') format("woff2");
}

@font-face {
  font-family: "Aqua";
  font-weight: 400;
  src: url('../fonts/aqua.woff2') format("woff2");
}
