/*------------------------------------*\
  #FONTS
\*------------------------------------*/

@font-face {
  font-family: "Sofia Pro";
  font-weight: 400;
  src: url('../fonts/sofia-pro-regular.woff2') format("woff2");
}

@font-face {
  font-family: "Sofia Pro";
  font-weight: 500;
  src: url('../fonts/sofia-pro-medium.woff2') format("woff2");
}

@font-face {
  font-family: "Sofia Pro";
  font-weight: 700;
  src: url('../fonts/sofia-pro-semibold.woff2') format("woff2");
}

@font-face {
  font-family: "Lora";
  font-weight: 400;
  src: url('../fonts/lora_regular.woff2') format("woff2");
}

@font-face {
  font-family: "Aqua";
  font-weight: 400;
  src: url('../fonts/aqua-regular.woff2') format("woff2");
}

@font-face {
  font-family: "Nanum Pen";
  font-weight: 400;
  src: url('../fonts/nanum-pen-regular.woff2') format("woff2");
}
