/*------------------------------------*\
  #LAYOUT-GRID
\*------------------------------------*/

/*
 * Add your own grid items
 */

.l-single {
  max-width: 48rem;
  margin: auto;
  clear: both;
}

.l-single-wide {
  max-width: 60rem;
  margin: auto;
  clear: both;
  position: relative;
}
