/*------------------------------------*\
  #LAYOUT-GRID
\*------------------------------------*/

/*
 * Add your own grid items
 */

.l-single {
  max-width: 62ch;
  width: 100%;
  margin: auto;
  clear: both;
}

.l-single-wide {
  max-width: 54rem;
  margin: auto;
  clear: both;
  position: relative;
}


.c-grid {
  display: grid;
  grid-gap: var(--space-40);
}

.c-grid--halves {
  grid-template-columns: 1fr 1fr;
}
