/*------------------------------------*\
  #SETTINGS-COLORS
\*------------------------------------*/

/*
 * Most of the variables are based on some kind of percentages to maintain stability and consistency.
 * So $variable-10 is small or light and $variable-100 is big or dark.
 */


:root {

  /*
   * Primary colors
   */
  --color-primary-30: #F96E7F;
  --color-primary-50: #E62C43;
  --color-primary-70: #BD0C22;


  /*
   * Secondary colors
   */
  --color-secondary-50: #5F61C0;


  /*
   * Success and positive colors
   */
  --color-success-50: #39b924;
  --color-success-70: #249c11;


  /*
   * Alert en negative colors
   */
  --color-alert-50: #f3490d;
  --color-alert-70: #d33e09;


  /*
   * Neutral colors
   */
  --color-neutral-10: #EAEFED;
  --color-neutral-30: #ccd6d2;
  --color-neutral-50: #8d9994;
  --color-neutral-60: #5F6663;
  --color-neutral-70: #373836;
  --color-neutral-90: #161716;


  /*
   * Black and white
   */
  --color-black: #000;
  --color-white: #fff;
}
