/*------------------------------------*\
  #TOKENS
\*------------------------------------*/

/*
 * Most of the variables are based on some kind of percentages to maintain stability and consistency.
 * So --variable-10 is small or light and --variable-100 is big or dark.
 */


:root {





  /*
   * Typography
   */


  /* Fonts */
  --font-family-a: Orkney, 'Helvetica Neue', sans-serif;
  --font-family-b: Lora, Georgia, serif;
  --font-family-c: Stellar, 'Helvetica Neue', sans-serif;
  --font-family-d: Aqua, 'Helvetica Neue', sans-serif;

  /* Legacy */
  --font-family-heading: var(--font-family-a);
  --font-family-body: var(--font-family-a);


  /* Set your font size */
  --font-size-base: 16px;

  --font-size-default: var(--font-size-30);
  --font-size-10: 12px; /* Used for small all caps labels */
  --font-size-20: 14px;
  --font-size-30: 17px;
  --font-size-40: 19px; /* Body */
  --font-size-50: 26px; /* Lead */
  --font-size-60: 30px; /* Heading */
  --font-size-65: 40px; /* Heading */
  --font-size-70: 5vw; /* Heading */


  /* Line-height */
  --line-height-base: 1em;

  --line-height-default: var(--line-height-30);
  --line-height-10: 1em;
  --line-height-20: 1.35em;
  --line-height-30: 1.75em;


  /* Letter spacing */
  --letter-spacing-default: var(--letter-spacing-10);
  --letter-spacing-10: 2px;


  /* Font weight */
  --font-weight-default: var(--font-weight-20);
  --font-weight-10: 300;
  --font-weight-20: 400;
  --font-weight-30: 500;





  /*
   * Spacing
   */


  /* Spacing system */
  --spacing: var(--space-default); /* Legacy */

  --space-default: var(--space-30);
  --space-10: 4px;
  --space-20: 8px;
  --space-25: 12px; /* Not default */
  --space-30: 16px;
  --space-40: 32px;
  --space-50: 64px;

  --space-stack-default: var(--space-stack-40);
  --space-stack-10: 0 0 4px 0;
  --space-stack-20: 0 0 8px 0;
  --space-stack-30: 0 0 16px 0;
  --space-stack-40: 0 0 32px 0;
  --space-stack-50: 0 0 64px 0;

  --space-inset-default: var(--space-inset-30);
  --space-inset-10: 4px 4px 0.1px 4px;
  --space-inset-20: 8px 8px 0.1px 8px;
  --space-inset-30: 16px 16px 0.1px 16px;
  --space-inset-40: 32px 32px 16px 32px;
  --space-inset-50: 64px 64px 48px 64px;

  --space-squish-10: 4px 8px;
  --space-squish-20: 8px 16px;
  --space-squish-25: 12px 24px; /* Not default */
  --space-squish-30: 16px 32px;


  /* Grid gutter */
  @lost gutter 25px; /* Legacy */
  --gutter: 25px;


  /* Maximum width of the website */
  --max-width: 1240px;





  /*
   * Colors
   */


  /* Primary colors */
  --color-primary-10: #F2F2F7;
  --color-primary-30: #9C9AF4;
  --color-primary-50: #514DD7;
  --color-primary-70: #3330A6;


  /* Secondary colors */
  --color-secondary-10: #FEECF2;
  --color-secondary-50: #FF3473;
  --color-secondary-70: #D31E56;


  /* Tertiary colors */
  --color-tertiary-10: #FFF4EA;
  --color-tertiary-30: #FFD3A6;


  /* Success and positive colors */
  --color-success-50: #41D57D;
  --color-success-70: #21AB59;


  /* Alert en negative colors */
  --color-alert-50: var(--color-secondary-50);
  --color-alert-70: var(--color-secondary-70);


  /* Neutral colors */
  --color-neutral-10: #F2F2F7;
  --color-neutral-30: #D2D1E5;
  --color-neutral-50: #9493AD;
  --color-neutral-60: #5E5C7D;
  --color-neutral-70: #333250;
  --color-neutral-90: #1E1D34;


  /* Black and white */
  --color-black: #000;
  --color-white: #fff;





  /*
   * Other
   */


  /* Rounded borders */
  --border-radius-default: var(--border-radius-10);
  --border-radius-10: 2px;
  --border-radius-20: 4px;
  --border-radius-50: 10rem;


  /* Shadows */
  --box-shadow-default: var(--box-shadow-10);
  --box-shadow-10: 0px 2px 10px color(var(--color-black) alpha(10%));
  --box-shadow-30: 0px 10px 50px color(var(--color-black) alpha(10%));


  /* Animation beziers */
  --bezier-default: var(--bezier-a);
  --bezier-a: cubic-bezier(0.86, 0, 0.07, 1);


  /* Layers */
  --layer-10: 10;
  --layer-20: 20;
  --layer-30: 30;
}

/* Breakpoints */
@custom-media --breakpoint-10 (min-width: 600px);
@custom-media --breakpoint-20 (min-width: 750px);
@custom-media --breakpoint-30 (min-width: 1000px);
@custom-media --breakpoint-40 (min-width: 1200px);
