  {% include 'components/components.footer.html' %}

  {% include 'components/components.navigation-mobile.html' %}

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
  <script src="/assets/scripts/lazyload.min.js"></script>
  <script src="/assets/scripts/fitie.js"></script>
  <script src="/assets/scripts/jquery.fancybox.min.js"></script>
  <script src="/assets/scripts/flickity.pkgd.min.js"></script>
  <script src="/assets/scripts/scripts.js"></script>

</body>

</html>
